In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font size="5" color="red">ch02_자료형과 연산자</font>

# 1절. 변수
- 파이썬은 변수 선언이 필요 없음, 바로 할당 가능, 할당과 동시에 타입이 지정.

## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장

In [2]:
r = 5
area = r * r * 3.14
print("계산된 넓이는 " + str(area))
print("계산된 넓이는", area)

계산된 넓이는 78.5
계산된 넓이는 78.5

In [3]:
import numpy as np #numpy라는 라이브러리를 불러온다, 별명은 np로 정한다
area = np.pi * r*r
print("pi =", np.pi)
print('area = ', area)

pi = 3.141592653589793
area =  78.53981633974483

In [4]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [5]:
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2511435777616
area의 타입 : <class 'float'>

In [6]:
area = 5.5  # 값을 변환하여 재할당가능
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2511435776912
area의 타입 : <class 'float'>

In [7]:
area = 10  # 재할당을 하면, 새로운 변수를 만든 후 이전 변수는 버린다. 모든 변수는 객체.
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2511356559888
area의 타입 : <class 'int'>

In [8]:
area = "파이썬"
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2511432078448
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작(숫자시작 불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_ 식으로 _를 이용
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용

In [9]:
이름 = "박진성" # 비추
print(이름)
이름

박진성

'박진성'

In [10]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [ ]:
# member.name = "박진성"
member_name = "홍길동"
memberName = "홍길동"

In [ ]:
Print = 10  # 대문자로 시작한 변수는 강력 비추. 맞춤법 틀리는 것과 같음
print(Print)

In [ ]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3+3j #복소수
type(i)

In [ ]:
isinstance(i, complex) # i 변수(객체)가 complex(복소수)인지 여부

## 1.3 도움말

In [ ]:
help(print)

In [ ]:
help() # help를 빠져나오려면 q입력 / ESC+o : 결과 접기/펴기

In [ ]:
# 도움말 기능 : shift + tab + (확장)tab

In [ ]:
def add(x, y) : 
    '''
    매개변수 2개를 받아 두자리 숫자로 만듦
    x는 10의자리, y는 1의 자리
    '''
    return x*10 + y

In [ ]:
add(2,1)

In [ ]:
a = add
a(2, 3)

## 1.4 다중변수 할당

In [ ]:
a,b = 10, 20
print(a, b)

In [ ]:
a, b = b, a+b  # 다중 변수 할당시, 순차적 할당이 아니고 동시 할당
print(a, b)

# 2절. 화면 입출력(i/o)

In [ ]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는?  ")
first

In [ ]:
second = input("두번째 숫자는?  ")
second

In [ ]:
sum = int(first) + int(second)
print("합:", sum)

In [ ]:
first = int(input("첫번째 숫자는?  "))
second = int(input("두번째 숫자는?  "))
sum = first + second
print('합', sum)

In [ ]:
print('합', sum, sep=' = ')

In [ ]:
import sys
print('hello', 'world', file=sys.stdout)

# 3절. 기본자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool (True, False)

## 3.1 숫자형

In [2]:
import sys
sys.maxsize # 정수의 최대값 (2**63 -1)

9223372036854775807

In [3]:
i = sys.maxsize +999999999 # 정수 최대값을 초과할 수 있다. 즉, 숫자 한계가 없다
print(i)
print(type(i))

9223372037854775806
<class 'int'>

In [4]:
f1 = 3/2 # 정수/정수는 무조건 실수
f2 = 4/2 
print(f1, f2)

1.5 2.0

In [ ]:
# 자바처럼 정수/정수 결과를 정수로
f3 = 4//2 #몫 연산자
print(f3)
f4= int(4/2) # int 씌워줌
print(f4)

In [ ]:
c= 1j # 수학에서의 0+1i
print(c**2) # ** 승연산자)

In [ ]:
f= 1.12e12 # 1.12 * 10의 12승 1120000000000 
print('지수형 표현할 당시 실수형으로 저장 :', f)
f = 1.12e-12  # 0.00000000000112
print('지수형 표현할 당시 실수형으로 저장 :', f)
print(type(f))

## 3.2 문자형
- 쌍따옴표("-"), 홑따옴표('-') 무엇을 쓰던 상관없다

In [ ]:
name1 = '홍길동"짱"' #홍길동"짱"
print(name1)
name2 = "홍길동\"짱\"" #같은 쌍따옴표를 쓸경우 역슬래시 사용 가능
print(name2)
address1 = '서울시 관악구 \'신림동\''  # 서울시 관악구 '신길동'
address2 = "서울시 관악구 '신림동'"
print(address1)
print(address2)

In [11]:
# 문자형 변수에 여러줄
text = '''\
여러줄짜리 내용
줄바꿈 문자를 쓰지 않고
따옴표 3개로 처리한다
이처럼 쓰는 경우가 많아요 \
'''

print(text)

여러줄짜리 내용
줄바꿈 문자를 쓰지 않고
따옴표 3개로 처리한다
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [70]:
'''
    여러 줄 주석 용도
    2024.04.08 문자열 연산소스 by 진성
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [ ]:
print(name1 * 3)

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용
 (정규표현식 : 일정한 패턴을 보이는 숫자, 문자열)

In [11]:
print(r'Hello\nWorld')
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일)
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-Z0-9])
    \W (영문자나 숫자가 아닌 문자)
    . (문자 한글자)
    \. (.을 의미)
    \- (빼기 - 를 의미) # 역슬래시가 없으면 ~부터라는 범위의 뜻
    {2, 3} (2~3번 반복, 앞 수가 작아야함)
    {4}    (4번 반복)
    {2, }  (2번 이상 반복)
    +      (1번 이상 반복 = {1, })
    *      (0번 이상 반복 = {0, })
    ?      (0번이나 1번 반복)
 3. 정규표현식 연습장 (https://regexr.com/)

 ex1) 전화번호 :  010-6787-3338   023334444   02 421 5555   0277778888   01067873338   02)714-5656   010.2222.4444
     010-6787-3338 or 02-333-4444 패턴 -> [0-9]{2,3}-[0-9]{3,4}-[0-9]{4}  /  [0-9] =\d
     모두를 포함하는 패턴 -> \d{2,3}[\-)\. ]?\d{3,4}[\-\. ]?\d{4}
 
 
 ex2) 이메일 : abc12@naver.com  asde3333@0to7.co.kr acb@한국.com  박진성12@abc.co.kr
 \w+\@\w+\.\w+\.?\w+
  \w+\@\w+\.[a-z]+\.?[a-z]+
  [\w가-힣]+[\.\-\_]*[\w가-힣]+\@[\w가-힣]+\.[a-zA-Z]+(\.[a-zA-Z]+)?
  [\w가-힣]+[\.\-\_]*[\w가-힣]+\@[\w가-힣]+(\.[a-zA-Z]+){1,2}
 
 4. 소스 구현
  
 '''

In [17]:
import re
data = "홍길동인데 전화번호가 041-888-8989, 010 8000 8989 \
동해번쩍 서해번쩍 이메일은 abc@yahoo.com ㅋㅋ ㅠㅜ \
오늘 날씨는 엄청 좋아요"
    
print(data)

홍길동인데 전화번호가 041-888-8989, 010 8000 8989 동해번쩍 서해번쩍 이메일은 abc@yahoo.com ㅋㅋ ㅠㅜ 오늘 날씨는 엄청 좋아요

In [20]:
tel_pattern1 = r"\d{2,3}[\-)\. ]?\d{3,4}[\-\. ]?\d{4}"
tel_pattern2 = r"[0-9]{2,3}[\-)\. ]?[0-9]{3,4}[\-\. ]?[0-9]{4}"

In [25]:
# findall은 해당 패턴을 다 찾아옴. 없으면 [ ] 반환
tels1 = re.findall(tel_pattern1, data)  
print(tels1)
tels2 = re.findall(tel_pattern2, data)  
print(tels2)

['041-888-8989', '010 8000 8989']
['041-888-8989', '010 8000 8989']

In [39]:
# search() : 정규표현식 패턴과 일치하는 처음 단어만 찾음
pattern = "(\d{2,3})[\-)\. ]?(\d{3,4})[\-\. ]?(\d{4})"
firstTel = re.search(pattern, data)
print(firstTel)
print(data[12:24])   # 문자 슬라이싱

<re.Match object; span=(12, 24), match='041-888-8989'>
041-888-8989

In [45]:
print('전화번호 전체 :', firstTel.group(0))
print('국번 :', firstTel.group(1))
print('중간번호 :', firstTel.group(2))
print('끝번호 :', firstTel.group(3))

전화번호 전체 : 041-888-8989
국번 : 041
중간번호 : 888
끝번호 : 8989

In [53]:
print(re.sub(r'[^가-힣0-9\s]', '', data))  # 특수문자, 자음, 모음 없애기
print(re.sub('[^가-힣0-9\s]', '', data))

홍길동인데 전화번호가 0418888989 010 8000 8989 동해번쩍 서해번쩍 이메일은    오늘 날씨는 엄청 좋아요
홍길동인데 전화번호가 0418888989 010 8000 8989 동해번쩍 서해번쩍 이메일은    오늘 날씨는 엄청 좋아요

In [66]:
# 파일 경로에는 반드시 r, \\, / 사용
file_path_0 = 'C:\ai_x\source\01_python\text.txt'
file_path_1 = r'C:\ai_x\source\01_python\text1.txt'
file_path_2 = 'C:\\ai_x\\source\\01_python\\text2.txt'
file_path_3 = 'C:/ai_x/source/01_python/text3.txt'
print(file_path_0)
print(file_path_1)
print(file_path_2)
print(file_path_3)

C:i_x\source_python	ext.txt
C:\ai_x\source\01_python\text1.txt
C:\ai_x\source\01_python\text2.txt
C:/ai_x/source/01_python/text3.txt

In [72]:
'''
open(파일경로, 파일모드)
'r'	읽기(Read)	기본값. 파일이 있어야 함. 없으면 에러
'w'	쓰기(Write)	파일이 없으면 새로 만듦. 있으면 내용 덮어씀 ⚠️
'a'	추가(Append)	파일 끝에 이어쓰기. 기존 내용은 유지됨
'x'	배타적 생성(eXclusive)	파일이 없을 때만 생성. 있으면 에러
'b'	바이너리(Binary) 모드	텍스트가 아닌 이미지, 영상, 파일 등에 사용
't'	텍스트(Text) 모드	기본값. 문자열로 읽고 씀
'+'	읽기/쓰기(Read/Write)	읽고 쓰기 모두 가능하게 열기
'''

file_stream = open(file_path_2, 'w')
print("Hellow", "world", sep=" ~ ") # 콘솔 출력
print("Hellow", "world", sep=" ~ ", file=file_stream) # 파일 출력
file_stream.close()  # close를 하지 않으면 파일 저장 안됨

Hellow ~ world

※ 문자열 슬라이싱

In [91]:
str_ = '0123456789'
print(str_)
print(str_[0], str_[-1]) # 문자 인덱싱

0123456789
0 9

In [90]:
print(str_[10]) # 없는 인덱싱은 오류 발생

IndexError: string index out of range

In [99]:
'''
문자변수[from:stop] : from 부터 stop 앞까지 추출 - 슬라이싱
문자변수[from:stop:step] : from 부터 stop 앞까지 step 씩 전진하면서 추출
    step 생략시 1
    from 생략시 처음부터
    stop 생략시 끝까지
'''

phone_num_1 = '010-6787-3338'
phone_num_2 = '02-777-3338'
print(phone_num_1[-4:-1]) # -4번째부터 -1번째 앞까지
print(phone_num_1[-4:])   # -4번째부터 끝까지
print(phone_num_1[-5:120])   # 슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미
print(phone_num_1[0:8:2]) # 스탭을 사용하여 짝수번째 숫자를 추출

333
3338
-3338
0068

In [117]:
str_ = '0123456789'
# 첫문자~6번째 인덱스까지 추출
print(str_[0:7])

# 5번째 인덱스부터 끝까지 추출
print(str_[5:])

# str_를 거꾸로 출력
print(str_[9:0:-1])
print(str_[9::-1])
print(str_[::-1])
print(str_[-1::-1])

0123456
56789
987654321
9876543210
9876543210
9876543210

## 3.3 논리형(True/False)

In [130]:
a = True
b = True
print(a)        # a : 매개변수=인자=arument
print(type(a))  # a변수의 타입
print(isinstance(a, bool))  # isinstance(변수, 타입) : 변수가 해당 타입인지 여부

True
<class 'bool'>
True

In [123]:
int(True), int(False)

(1, 0)

In [131]:
# False로 간주되는 것들 : 0, ""(빈스트링), None, [](빈리스트), ()(빈소괄호), {}(빈딕셔너리)
# True로 간주되는 것들 : False가 아닌 모든 것, " "(공백)

print(id(a))
print(id(b))

140708726065360
140708726065360

In [129]:
if []:
    print('True다')
else :
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수

- type(변수)
- isinstance(변수, 타입)
- int() : 정수형으로 변환   ex) int("10").. 
- float() : 실수형으로 변화   ex) float("10.5") ...
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [137]:
int("10"), int(12.9), int(True)

(10, 12, 1)

In [157]:
# int 에러나는 것들
# int("12.9")
# int(" ")
# int("")
#int("1,000")
#int(1,000)

In [154]:
float(10), float("12.3"), float(True), float(False), float("1000"), float("  12.5 ")

(10.0, 12.3, 1.0, 0.0, 1000.0, 12.5)

In [156]:
# float 에러나는 것들
# float("1,000")
# float("")
# float(" ")
# float("  12.  5 ")

In [162]:
str(10), str(10.5), str(True), str(), str(' '), str(1.23e12)

('10', '10.5', 'True', '', ' ', '1230000000000.0')

In [163]:
bool(""), bool(0), bool(0.0), bool([]), bool({}), bool(None)

(False, False, False, False, False, False)

In [164]:
bool(' ')

True

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란 출력할 문자, 숫자, 날짜 데이터에 형식을 지정하는 것

## 4.1 문자열에 출력형

In [165]:
name = '홍길동'
age = 30
print(name, '님의 나이는 ', age, '살입니다')

홍길동 님의 나이는  30 살입니다

In [176]:
print('%s님의 나이는 %3d살입니다'%(name, age))  ## %s : 문자, %d : 정수, %f : 실수
print(f"{name}님의 나이는 {age}살입니다")
print("{}님의 나이는 {:3d}살입니다".format(name, age))

홍길동님의 나이는  30살입니다
홍길동님의 나이는 30살입니다
홍길동님의 나이는  30살입니다

##  4.2 format() 문법

In [183]:
# '{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}'. format(변수1, 변수2) 
    # 인덱스 : format 함수 안의 매개변수의 순서, 생략 가능, 생략시 {} 순서대로 입력
    # 정수 자릿수 : 출력될 자리수 d, 변수보다 작은 자릿수가 지정되면 자릿수 무시
    # 실수 자릿수 : 출력될 자릿수.소수점이하 자릿수f   ex) 123.45f => 5.1
    # 문자 자릿수 : 전체확보될 자릿수[.변수중출력할자릿수]s    ex) 10.2s  -> 확보는 10자리 하는데, 2개만 출력해
    # 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬) - 자리수를 지정해야만 가능
    # 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
    # 공백대체문자 : 정렬방식 반드시 기입해야 작성가능

In [189]:
name = input('이름은? ')
age = int(input('나이는? ')) # 에러발생시 예외 설정하기

이름은? 홍길동
나이는? 40

In [191]:
print("{}살 {}님 반갑습니다".format(age, name))
print("{1:*^4d}살 {0:_^10}님 반갑습니다".format(name, age))

40살 홍길동님 반갑습니다
*40*살 ___홍길동____님 반갑습니다

In [2]:
# 숫자의 경우 : 오른쪽 정렬(기본값)
# 문자의 경우 : 왼쪽 정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 지라수)
i= 12345
s= "Hello"
# 오류 - print("[{}], [{:10}], [{:3}]").format(i)
print("[{0}], [{0:10}], [{0:3}]".format(i))
print("[{0}], [{0:10}], [{0:3}]".format(s))

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [15]:
# 문자 : 전체자리수.표현될자리수
# 실수 : 전체자리수.소수점이하 표현될 자리수
f = 2.758
s = 'Hello'
print("f = [{:$>5.2f}]".format(f))
print('s = [{:_<5.2s}]'.format(s))

f = [$2.76]
s = [He___]

In [228]:
# + : 부호를 출력
# = : 부호를 맨앞으로 이동 (양수는 기본 비노출 유지)
# =+ : 부호를 맨앞으로 출력

a, b, c = 123, -123, 800
print('[{:+10}], [{:+10}], [{:+010}]'.format(a, b, c))    
print('[{:=+10}], [{:=+10}], [{:=+010}]'.format(a, b, c))

[      +123], [      -123], [+000000800]
[+      123], [-      123], [+000000800]

In [233]:
#
f = 2.785
print("[{:+10.2f}]".format(f))

[     +2.79]

In [17]:
sign = '+'
width = 10
precision = 3
print("[{:{}{}.{}f}]".format(f, 
                           sign, 
                           width, 
                           precision))
print("[{:{sign}{width}.{precision}f}]".format(f, 
                           sign=sign, 
                           width=width, 
                           precision=precision))

[    +2.758]
[    +2.758]

In [241]:
a= 15
print("10진수 a = [{:5d}]".format(a))
print(" 2진수 a = [{:5b}]".format(a))
print("16진수 a = [{:5x}]".format(a))

10진수 a = [   15]
 2진수 a = [ 1111]
16진수 a = [    f]

## 4.3 날짜 출력

In [248]:
from datetime import datetime, date
now = datetime.now()
today = date.today()
print(now)
print(today)

2025-04-09 17:45:56.735676
2025-04-09

In [254]:
print('{}'.format(now))
print('{:%y년 %m월 %d일 %p %I시 %M분 %S초}'.format(now))
print('{:%Y년 %m월 %d일 %H시 %M분 %S초}'.format(now))

2025-04-09 17:45:56.735676
25년 04월 09일 PM 05시 45분 56초
2025년 04월 09일 17시 45분 56초

In [257]:
print(now.strftime("%Y년 %m월 %d일 %H시 %M분 %S초"))
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2025년 04월 09일 17시 45분 56초
2025-04-09 17:45:56