In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

In [3]:
print('10의 5승 =', 10**5)
print('4/2(결과실수) = ', 4/2)

10의 5승 = 100000
4/2(결과실수) =  2.0

In [7]:
# 퀴즈 1.. 정수를 입력받아 짝수인지 홀수인지
a = int(input('정수를 입력하세요 : '))

if a%2 ==0:
    print('입력하신 정수 {}는 짝수입니다.'.format(a))
else:
    print('입력하신 정수 {}는 홀수입니다.'.format(a))

정수를 입력하세요 : 1
입력하신 정수 1는 홀수입니다.

In [9]:
a = int(input('정수를 입력하세요 : '))
result = a%2

if result:
    print('입력하신 정수 {}는 홀수입니다.'.format(a))
else:
    print('입력하신 정수 {}는 짝수입니다.'.format(a))

정수를 입력하세요 : 5
입력하신 정수 5는 홀수입니다.

In [33]:
temp = 'python is easy. pYThon is smart. python'
print('1. 글자수 :', len(temp))
print('2. 대문자로 :', temp.upper())
print('3. 소문자로 :', temp.lower())
print('4. title :', temp.title())
print('5. capitalize :', temp.capitalize())
print('6. pytion 몇번나오는지 :', temp.count('python'))
print('7. python 대소문자 몇번나오는지 :', temp.lower().count('python'))
print('7. python 대소문자 몇번나오는지 :', temp.upper().count('PYTHON'))
print('7. python 대소문자 몇번나오는지 :', temp.title().count('Python'))
print('8. python이 나오는 첫번째 인덱스 위치 :', temp.find('python'))
print('8. python이 나오는 마지막 인덱스 위치 :', temp.rfind('python'))
print('8. java 나오는 첫번째 인덱스 위치 :', temp.find('java'))
print('9. python으로 시작하는지 여부 :', temp.startswith('python'))
print('10. python으로 끝나는지 여부 :', temp.endswith('python'))
print('10. 대소문자 구분없이 python으로 끝나는지 여부 :', temp.lower().endswith('python'))

1. 글자수 : 39
2. 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 : python is easy. python is smart. python
4. title : Python Is Easy. Python Is Smart. Python
5. capitalize : Python is easy. python is smart. python
6. pytion 몇번나오는지 : 2
7. python 대소문자 몇번나오는지 : 3
7. python 대소문자 몇번나오는지 : 3
7. python 대소문자 몇번나오는지 : 3
8. python이 나오는 첫번째 인덱스 위치 : 0
8. python이 나오는 마지막 인덱스 위치 : 33
8. java 나오는 첫번째 인덱스 위치 : -1
9. python으로 시작하는지 여부 : True
10. python으로 끝나는지 여부 : True
10. 대소문자 구분없이 python으로 끝나는지 여부 : True

In [42]:
temp = '           Python is easy          '
notdigit = '1,000,000'
num_str = '1000'

print('11. 좌우 공백제거 : [{}]'.format(temp.strip()))
print('11. 좌 공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우 공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 :', notdigit.isdigit())
print('13-1. 소문자열인지 :', temp.islower())
print('13-2. 대문자열인지 :', temp.isupper())
print('14. ,콤마 제거 :', notdigit.replace(',', ''))

11. 좌우 공백제거 : [Python is easy]
11. 좌 공백제거 : [Python is easy          ]
11. 우 공백제거 : [           Python is easy]
12. 숫자문자열인지 : False
13-1. 소문자열인지 : False
13-2. 대문자열인지 : False
14. ,콤마 제거 : 1000000

In [44]:
# 문자열 나누기
temp = '홍길동   김길동   신길동   유길동'
print('space 단위로 분리하기', temp.split())
date = '2025-05-10'
date_list = date.split('-')
print('연도 :', date_list[0])
print('월 :', date_list[1])
print('일 :', date_list[2])

space 단위로 분리하기 ['홍길동', '김길동', '신길동', '유길동']
연도 : 2025
월 : 05
일 : 10

In [50]:
# '-'을 '/'로 바꾸기
temp = 'Python - HTML/CSS - JavaScript - DBMS'
print(temp)
splited_temp = temp.split(' - ')
print(splited_temp)
joined_temp = '/'.join(splited_temp)
print(joined_temp)

Python - HTML/CSS - JavaScript - DBMS
['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
Python/HTML/CSS/JavaScript/DBMS

In [60]:
from datetime import datetime
thatday = datetime(2025, 5, 13, 8, 51)
print(thatday)
print(thatday.ctime())
print('{:%Y년 %m월 %d일(%a) %H시 %M분 %S초}'.format(thatday))

import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')
print(thatday.strftime('%Y년 %m월 %d일(%a) %H시 %M분 %S초'))

2025-05-13 08:51:00
Tue May 13 08:51:00 2025
2025년 05월 13일(Tue) 08시 51분 00초
2025년 05월 13일(화) 08시 51분 00초

In [67]:
now = datetime.now()

diff = thatday - now

print(diff.days)

29

In [74]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23 살입니다]

name = '홍길동'
age = 23

print('{}님의 나이는 {:<3}살입니다'.format(name, age))
print(f'{name}님의 나이는 {age} 살입니다')
print('{0}님의 나이는 {1:<3}살입니다'.format(name, age))

홍길동님의 나이는 23 살입니다
홍길동님의 나이는 23 살입니다
홍길동님의 나이는 23 살입니다

In [83]:
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요

int_1 = int(input('첫번째 정수를 입력하세요  '))
int_2 = int(input('두번째 정수를 입력하세요  '))


print('덧셈 : ', int_1+int_2,'\t',
      '뺄셈 : ', int_1-int_2,'\t',
    '곱셈 : ', int_1*int_2,'\t',
    '나눗셈 : ', int_1/int_2,'\n',
    '몫 : ', int_1//int_2,'\n',
    '나머지 : ', int_1%int_2)

첫번째 정수를 입력하세요  10
두번째 정수를 입력하세요  2
덧셈 :  12 	 뺄셈 :  8 	 곱셈 :  20 	 나눗셈 :  5.0
 몫 :  5
 나머지 :  0

In [85]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'가 할당된 변수를 이용하여 ‘World Hello'로 출력하세요
temp = 'Hello World'
splited_temp = temp.split()
# splited_temp.reverse()
joined_temp = ' '.join(splited_temp[::-1])
print(joined_temp)

World Hello

In [87]:
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
x = 'abcdef'
x1 = x[1:] + x[0]
x1

'bcdefa'

In [88]:
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
x = 'abcdef'
x1 = x[::-1]
x1

'fedcba'

In [91]:
''' 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 화
씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경
우 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,
F 는 화씨
C = (F-32) / 1.8
F = (C*1.8) + 32
'''



C = int(input('섭씨 온도를 입력하세요 : '))
F = (C*1.8) + 32

if F%1:
    print('섭씨 온도는 {}도, 화씨 온도는 {:3.2f}도입니다.'.format(C,F))
else:
    print('섭씨 온도는 {}도, 화씨 온도는 {:3.0f}도입니다.'.format(C,F))

섭씨 온도를 입력하세요 : 18
섭씨 온도는 18도, 화씨 온도는 64.40도입니다.

In [ ]:
'''7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
①for
②10th
③Student.name
④_1234
'''

In [96]:
fruits = ['mango', 'apple', 'orange', 'grape']

for i in fruits:
    print(i)

for i in range(3):
    print('{}번째 과일은 {}입니다'.format(i, fruits[i]))

for i in range(len(fruits)):
    print('{}번째 과일은 {}입니다'.format(i, fruits[i]))

for i in fruits:
    print(f'{i}입니다')

mango
apple
orange
grape
0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다
mango입니다
apple입니다
orange입니다
grape입니다

In [97]:
for idx, value in enumerate(fruits):
    print('{}번째 과일은 {}입니다'.format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [100]:
score_2d = [[90,84,79,93], 
            [95,75,89,88], 
            [92,89,99,87]]

In [104]:
for i, row in enumerate(score_2d):
    for j, value in enumerate(row):
        print('{}행 {}열 : {:3d}'.format(i, j, value), end='\t')
    print(end='\n')

0행 0열 :  90	0행 1열 :  84	0행 2열 :  79	0행 3열 :  93
1행 0열 :  95	1행 1열 :  75	1행 2열 :  89	1행 3열 :  88
2행 0열 :  92	2행 1열 :  89	2행 2열 :  99	2행 3열 :  87

In [105]:
for row in score_2d:
    for value in row:
        print(value, end='\t')
    print(end='\n')

90	84	79	93
95	75	89	88
92	89	99	87

In [112]:
numbers = [500, 123,7,1, -20, 83]

print('오름차순 정렬 : {}'.format(sorted(numbers)))
print('내림차순 정렬 : {}'.format(sorted(numbers, reverse=True)))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음', numbers)
print('합 : ', sum(numbers))

오름차순 정렬 : [-20, 1, 7, 83, 123, 500]
내림차순 정렬 : [500, 123, 83, 7, 1, -20]
sorted함수 사용시 리스트 내용이 바뀌지 않음 [500, 123, 7, 1, -20, 83]
합 :  694

In [116]:
numbers = [1,2,3]
numbers = numbers+numbers
numbers

numbers = numbers*2
numbers

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [121]:
num_1 = [1,2,3]
num_2 = [5,6,7]
num_1.extend(num_2)
print(num_1)
num_1.insert(3, 100)
print(num_1)

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 100, 5, 6, 7]

In [122]:
num_3 = [10, 11, 12]
num_1.append(num_3)
num_1

[1, 2, 3, 100, 5, 6, 7, [10, 11, 12]]

In [133]:
nums = [1,2,3,[1,2,3], 1,2,3]

print(nums.count(2))
print(nums.index(2,3))

if nums.count(9):
    print(nums.index(9))
else:
    print('9가 없습니다')
    

if 2 in nums:
    print(nums.index(2))
else:
    print('9가 없습니다')

2
5
9가 없습니다
1

In [141]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = []

for data in numbers:
    result.append(data)
print(result)

result = [data for data in numbers if not data%2]
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

In [142]:
# ex1.numbers 에서 10이상만 추출 
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

result= [i for i in numbers if i>=10]
result

[10, 12, 13, 20]

In [145]:
# ex2. fruits에서 5글자 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']

result= [i for i in fruits if len(i)>=5]
result

['orange', 'apple', 'mango']

In [147]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]

result = [i**2 for i in L if i>=3]
result

[9, 16, 25]

In [155]:
#주어진 문자열에서 **모음(a, e, i, o, u)**을 제거하고,
#남은 문자들을 뒤집어서 리스트로 만들어라.

text = "I love Python"
del_t = ['a', 'e', 'i', 'o', 'u', ' ']

result = [t for t in text.lower() if t not in del_t]

result.reverse()
print(result)

['n', 'h', 't', 'y', 'p', 'v', 'l']

In [157]:
num = [0,1,2,3,4,5,6,7,8,9]
num[2] = 222
num

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [185]:
num = [0,1,2,3,4,5,6,7,8,9]
num[::2] = [99,99,99,99,99]
num

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

In [180]:
del_num_1 = num.pop()
print(del_num_1)
print(num)

del_num_2 = num.pop(0)
print(del_num_2)
print(num)

num.remove(99)
print(num)

del num[0]
print(num)

9
[99, 1, 99, 3, 99, 5, 99, 7, 99]
99
[1, 99, 3, 99, 5, 99, 7, 99]
[1, 3, 99, 5, 99, 7, 99]
[3, 99, 5, 99, 7, 99]

In [184]:
for i in num:
    if i == 99:
        num.remove(99)
print(num)

[1, 3, 5, 7, 9]

In [188]:
num1 = [s for s in num if s !=99]
print(num1)

[1, 3, 5, 7, 9]

In [190]:
if 9 in num:
    num.remove(9)
    print(num)
else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다