In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font size="5" color="red">ch02_자료형과 연산자</font>

# 1절. 변수
- 파이썬은 변수 선언이 필요 없음, 바로 할당 가능, 할당과 동시에 타입이 지정.

## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장

In [2]:
r = 5
area = r * r * 3.14
print("계산된 넓이는 " + str(area))
print("계산된 넓이는", area)

계산된 넓이는 78.5
계산된 넓이는 78.5

In [6]:
import numpy as np #numpy라는 라이브러리를 불러온다, 별명은 np로 정한다
area = np.pi * r*r
print("pi =", np.pi)
print('area = ', area)

pi = 3.141592653589793
area =  78.53981633974483

In [7]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [11]:
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2627144338736
area의 타입 : <class 'float'>

In [12]:
area = 5.5  # 값을 변환하여 재할당가능
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2627111640688
area의 타입 : <class 'float'>

In [19]:
area = 10  # 재할당을 하면, 새로운 변수를 만든 후 이전 변수는 버린다. 모든 변수는 객체.
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2627028714000
area의 타입 : <class 'int'>

In [20]:
area = "파이썬"
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2627152686672
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작(숫자시작 불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_ 식으로 _를 이용
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용

In [22]:
이름 = "박진성" # 비추
print(이름)
이름

박진성

'박진성'

In [23]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [24]:
# member.name = "박진성"
member_name = "홍길동"
memberName = "홍길동"

In [26]:
Print = 10  # 대문자로 시작한 변수는 강력 비추. 맞춤법 틀리는 것과 같음
print(Print)

10

In [29]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3+3j #복소수
type(i)

complex

In [30]:
isinstance(i, complex) # i 변수(객체)가 complex(복소수)인지 여부

True

## 1.3 도움말

In [31]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [33]:
help() # help를 빠져나오려면 q입력 / ESC+o : 결과 접기/펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [35]:
# 도움말 기능 : shift + tab + (확장)tab

In [39]:
def add(x, y) : 
    '''
    매개변수 2개를 받아 두자리 숫자로 만듦
    x는 10의자리, y는 1의 자리
    '''
    return x*10 + y

In [37]:
add(2,1)

21

In [42]:
a = add
a(2, 3)

23

## 1.4 다중변수 할당

In [51]:
a,b = 10, 20
print(a, b)

10 20

In [52]:
a, b = b, a+b  # 다중 변수 할당시, 순차적 할당이 아니고 동시 할당
print(a, b)

20 30

# 2절. 화면 입출력(i/o)

In [56]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는?  ")
first

첫번째 숫자는?  5

'5'

In [57]:
second = input("두번째 숫자는?  ")
second

두번째 숫자는?  9

'9'

In [62]:
sum = int(first) + int(second)
print("합:", sum)

합: 14

In [67]:
first = int(input("첫번째 숫자는?  "))
second = int(input("두번째 숫자는?  "))
sum = first + second
print('합', sum)

첫번째 숫자는?  10
두번째 숫자는?  20
합 30

In [68]:
print('합', sum, sep=' = ')

합 = 30

In [70]:
import sys
print('hello', 'world', file=sys.stdout)

hello world

# 3절. 기본자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool (True, False)

## 3.1 숫자형

In [71]:
import sys
sys.maxsize # 정수의 최대값 (2**63 -1)

9223372036854775807

In [74]:
i = sys.maxsize +999999999 # 정수 최대값을 초과할 수 있다. 즉, 숫자 한계가 없다
print(i)
print(type(i))

9223372037854775806
<class 'int'>

In [77]:
f1 = 3/2 # 정수/정수는 무조건 실수
f2 = 4/2 
print(f1, f2)

1.5 2.0

In [79]:
# 자바처럼 정수/정수 결과를 정수로
f3 = 4//2 #몫 연산자
print(f3)
f4= int(4/2) # int 씌워줌
print(f4)

2
2

In [81]:
c= 1j # 수학에서의 0+1i
print(c**2) # ** 승연산자)

(-1+0j)

In [85]:
f= 1.12e12 # 1.12 * 10의 12승 1120000000000 
print('지수형 표현할 당시 실수형으로 저장 :', f)
f = 1.12e-12  # 0.00000000000112
print('지수형 표현할 당시 실수형으로 저장 :', f)
print(type(f))

지수형 표현할 당시 실수형으로 저장 : 1120000000000.0
지수형 표현할 당시 실수형으로 저장 : 1.12e-12
<class 'float'>

## 3.2 문자형
- 쌍따옴표("-"), 홑따옴표('-') 무엇을 쓰던 상관없다

In [95]:
name1 = '홍길동"짱"' #홍길동"짱"
print(name1)
name2 = "홍길동\"짱\"" #같은 쌍따옴표를 쓸경우 역슬래시 사용 가능
print(name2)
address1 = '서울시 관악구 \'신림동\''  # 서울시 관악구 '신길동'
address2 = "서울시 관악구 '신림동'"
print(address1)
print(address2)

홍길동"짱"
홍길동"짱"
서울시 관악구 '신림동'
서울시 관악구 '신림동'

In [99]:
# 문자형 변수에 여러줄
text = '''여러줄짜리 내용
줄바꿈 문자를 쓰지 않고
따옴표 3개로 처리한다
이처럼 쓰는 경우가 많아요
'''

print(text)

여러줄짜리 내용
줄바꿈 문자를 쓰지 않고
따옴표 3개로 처리한다
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [102]:
'''
    여러 줄 주석 용도
    2024.04.08 문자열 연산소스 by 진성
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [103]:
print(name1 * 3)

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용
 (정규표현식 : 일정한 패턴을 보이는 숫자, 문자열)

In [106]:
print(r'Hello\nWorld')
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일)
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-Z0-9])
    \W (영문자나 숫자가 아닌 문자)
    . (문자 한글자)
    \. (.을 의미)
    \- (빼기 - 를 의미) # 역슬래시가 없으면 ~부터라는 범위의 뜻
    {2, 3} (2~3번 반복, 앞 수가 작아야함)
    {4}    (4번 반복)
    {2, }  (2번 이상 반복)
    +      (1번 이상 반복 = {1, })
    *      (0번 이상 반복 = {0, })
    ?      (0번이나 1번 반복)
 3. 정규표현식 연습장 (https://regexr.com/)
 ```
 전화번호 정규표현식
 \d{2,3}\-\d{3,4}\-\d{4}