In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font size="5" color="red">ch03. 데이터구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋

# 1절. 리스트

## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱( [from:stop:step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [ ]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

In [ ]:
print(fruits)
print(fruits[0])

In [ ]:
fruits[0] = 'mango'
print(fruits)

In [ ]:
x, y, z, o = fruits
print(x, y, z, o)

In [ ]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print('z={}'.format(z))
print(f'fruits={fruits}')

In [ ]:
# range(from, to, by)  * from 부터 to 앞까지 by씩 증가하면서 지정된 범위의 정수
    # from 생략시 : 0 , by 생략시 : 1
range(10)

In [ ]:
print(list(range(0,10)))
print(list(range(10)))
print(list(range(101,111)))

In [ ]:
list(range(10, -1, -2))

In [ ]:
# 반복문(3회)
#for i in [0,1,2,3,4,5,6,7,8,9]:
for i in range(3):
    print(i)

In [ ]:
fruits = ['mango', 'apple', 'orange', 'grape']
for i in fruits:
    print(i)

print('-'*50)    
    
for i in range(3):
    print("{}번째 과일은 {}입니다.".format(i, fruits[i]))

print('-'*50) 

for i in range(len(fruits)):  # len(리스트) : 리스트 데이터 수
    print("{}번째 과일은 {}입니다.".format(i, fruits[i]))

print('-'*50) 
    
for i in fruits:
    print(f"{i}입니다.")

In [ ]:
i, v = [1, 'mango']
print(i)
print(v)

In [ ]:
# enumerate(나열가능한 자료) : (index, 값)들의 셋들로 만들어줌
# for idx, value in [[0, 'mango'], [1, 'apple'], [2, 'orange'], [3, 'grape']]: - enumerate(fruits) 함수로 간단히 사용 가능
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다.".format(idx, value))
    
print(list(enumerate(fruits)))

In [ ]:
# 리스트는 여러 타임의 데이터를 담을 수 있음 - 숫자, 논리값, 텍스트, 리스트
numbers = [0, True, '2', 3, [4,5,6]]
print(numbers)
print(numbers[1])
print(numbers[4][1])  #리스트 안의 리스트는 이렇게 엑세스 한다

In [ ]:
# 2차원 리스트
score_2d = [[90,84,79,93], 
            [95,75,89,88], 
            [92,89,99,87]]  
len(score_2d), len(score_2d[0])

In [ ]:
for i, row in enumerate(score_2d):
    for j, value in enumerate(row):
        print("{}행 {}열 : {:3d}".format(i, j, value), end='\t')

In [ ]:
for i, row in enumerate(score_2d):
    for j, value in enumerate(row):
        print("{}행 {}열 : {:3d}".format(i, j, value), end='\t') 
    print(end="\n")  # value는 생략해도 가능, 줄바꿈 실행

In [ ]:
for row in score_2d:
    for value in row:
#        print("{:3d}".format(value), end='\t') 
        print(value, end='\t')
    print()

## 1.2 기본 정보 조회

In [ ]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
             [9, 100, 1, 2, 3],
             [50, 64]]

In [ ]:
# 요소의 수
print(len(numbers), len(numbers_2d))

In [ ]:
min(numbers), max(numbers)

In [ ]:
min(numbers_2d), max(numbers_2d)
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
#             max() : 0번 인덱스 요소가 가장 큰 값

In [ ]:
# 문자 list인 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'Apple']
min(fruits), max(fruits)

In [ ]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순', sorted(numbers))
print('내림차순', sorted(numbers, reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음', numbers) 
print('합 :', sum(numbers))

 ## 1.3 요소 추가
- \+ : 두 리스트 연결
- \* : 리스트를 곱한 수만큼 반복
- append() : 리스트 맨 뒤에 요소 추가
- extend() : 리스트 맨 뒤에 리스트를 요소별로 추가
- insert(idx, 값) : 지정된 index 위치로 삽입, 기존 데이터는 shift

In [ ]:
numbers = [1 ,2, 3]
numbers = numbers + numbers
numbers

In [ ]:
numbers = numbers * 3
numbers

In [ ]:
numbers1 = [1,2,3]
numbers2 = [5,6,7]
numbers1.extend(numbers2)
print(numbers1)
numbers1.insert(3,100)
print(numbers1)

In [ ]:
numbers3 = [1,2,3]
score_2d.append(numbers1)
score_2d

In [ ]:
score_2d.extend(numbers2)
print(score_2d)
num = [1,2,3]
num.extend([4,5,6])
print(num)

## 1.4 인덱싱과 요소 갯수
- 변수.[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 찾을데이터가 있는 요소의 인덱스를 반환
                     찾을데이터가 없는 경우 오류 발생
- count(찾을데이터) : 리스트에서 찾을데이터의 개수를 반환

In [ ]:
nums = [1,2,3,[1,2,3,], 1,2,3]
print(nums.count(2), nums.count(9))
print(nums.index(2))   # 0번째 index부터 2가 처음 나오는 index를 반환
print(nums.index(2, 3))   # 3번째 index부터 2가 처음 나오는 index를 반환

In [ ]:
# print(nums.index(9))  - 오류발생

if nums.count(9):
    print(nums.index(9))
else:
    print('9가 없어요')

In [ ]:
9 in nums # nums 리스트 안에 9가 존재하는지 여부를 리턴해준다

In [ ]:
if 9 in nums:
    print(nums.index(9))
else:
    print('9가 없어요')

# index 함수는 에러가 뜰 가능성이 있으므로, 'in'과 같이 쓴다

In [ ]:
# def safe_index(lst, data):
#     if data in lst: # lst 안에 data가 있는지 여부
#         return lst.index(data)
#     else:
#         return -1        

# safe_index(nums, 2)

## 1.5 슬라이싱(원하는 요소 추출)
- 원하는 인덱스, 데이터를 가져올 수 있음

1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스의 범위 벗어나도 에러안남)
    - .[from:stop:step] from부터 stop 앞!까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음. stop 생략시 끝까지. step 생략시 1. 모두 생략가능
    - 음수 인덱스 가능


2. <font color="red">**리스트 컴프리헨션**</font> : 리스트에서 원하는 데이터를 추출

In [ ]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
len(numbers)

# 짝수번째 인덱스 값 출력
print(numbers[::2])

# 거꾸로 출력
print(numbers[::-1])

In [ ]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = []
# 리스트에서 모든 데이터를 변수에 담아 출력하시오
for data in numbers:
    result.append(data)
print(result)


# 리스트컴프리헨션을 통해 짝수만 가져와라
for i in numbers:
    if i%2 ==0:
#   if not i%2:
        result.append(i)
print(result)

**리스트 컴프리헨션**

In [ ]:
# 리스트 컴프리헨션으로 리스트에서 모든 데이터를 변수에 담아 추출
[data for data in numbers]

In [ ]:
# 리스트 컴프리헨션으로 리스트에서 짝수 데이터를 변수에 담아 추출 - if문 추가 가능
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = [data for data in numbers if data%2==0]
print(result)

In [ ]:
# ex1.numbers 에서 10이상만 추출 
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result1=[i for i in numbers if i>=10]
result1

In [ ]:
# ex2. fruits에서 5글자 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
result2 = [f for f in fruits if len(f)>=5]
result2

In [ ]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
result3 = [n**2 for n in L if n>=3]
result3

In [ ]:
#주어진 문자열에서 **모음(a, e, i, o, u)**을 제거하고,
#남은 문자들을 뒤집어서 리스트로 만들어라.

text = "I love Python"
low_text = text.lower()
del_char = ['a', 'e', 'i', 'o', 'u',' ']
slc_char = [s for s in low_text if s not in del_char] 
slc_char.reverse()
print(slc_char)

In [ ]:
text = "I love Python"
low_text = text.lower()
slc_char = [s for s in low_text]
slc_char

## 1.6 요소 수정하기

In [ ]:
num = [0,1,2,3,4,5,6,7,8,9]
# 인덱스를 이용해서 요소 수정
num[2] = 222
num

In [ ]:
# 슬라이싱을 이용해서 요소 수정 (step 부분이 미포함 : 부분리스트가 통째로 수정)
num1 = [0,1,2,3,4,5,6,7,8,9]
num1[::2] = [99,99,99,99,99]
num1

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(inx) : idx번째 요소가 반환되고 삭제
- remove(지울데이터) : 리스트안의 데이터가 삭제
- del 번수.[idx] : idx 번째 요소가 삭제

In [ ]:
numbers = [1,2,3,4,5]
delete_data = numbers.pop()
print('삭제된 데이터 : {}, 리스트 : {}'.format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print('삭제된 데이터 : {}, 리스트 : {}'.format(delete_data, numbers))

del numbers[2]
print('numbers :', numbers)

In [ ]:
numbers = [1,2,3,4,5]
del_num = numbers.remove(3)
print(numbers)

In [ ]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다')

In [ ]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [ ]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)
numbers

## 1.8 정렬하기

In [ ]:
numbers = [1, 9, 5, 0,8]
print('numbers는 변경하지 않고 정렬 :', sorted(numbers))
print('numbers :', numbers)

numbers.reverse() # numbers가 역순으로 바뀜
numbers

In [ ]:
numbers.sort(reverse=True)  # numbers가 정렬한 결과로 바뀜(기본정렬 : 오름차순) / 내림차순 : reverse=True
print('numbers :', numbers)

In [ ]:
numbers.reverse() # numbers가 역순으로 바뀜 / 내림차순과는 달라
# numbers = numbers[::-1] 이것과 같다
numbers

## 1.9 복제하기

In [ ]:
# 스칼라 데이터의 복제
i = 10      # 원본
copy_i = i  # 복제본
print(f'원본={i}, 복사본= {copy_i} / 원본주소 = {id(i)}, 복사본주소 = {id(copy_i)}')
copy_i = 99
print(f'원본={i}, 복사본= {copy_i} / 원본주소 = {id(i)}, 복사본주소 = {id(copy_i)}')

In [ ]:
# 리스트(배열, 데이터프레임, 딕셔너리)의 복제
numbers = [5,6,1]
new_numbers = numbers
print(f'원본={numbers}, 복사본= {new_numbers} / 원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}')

new_numbers[0] = 9

print(f'원본={numbers}, 복사본= {new_numbers} / 원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}')

In [ ]:
# 얕은 복사(할당) 
numbers = [5, 8, 1]    #원본
new_numbers = numbers  #얕은 복사(할당)

print(f'원본={numbers}, 복사본= {new_numbers} / 원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}')

new_numbers[0] = -99
new_numbers.sort()

print(f'원본={numbers}, 복사본= {new_numbers} / 원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}')

In [ ]:
# 깊은 복사(복제)
numbers = [5, 8, 1] 
new_numbers = numbers.copy()
print(f'원본={numbers}, 복사본= {new_numbers} \n원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}')
print('-'*50)
new_numbers[0] = -99
new_numbers.sort()

print(f'원본={numbers}, 복사본= {new_numbers} \n원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}')

new_numbers.append(99)
print(f'원본={numbers}, 복사본= {new_numbers} \n원본주소 = {id(numbers)}, 복사본주소 = {id(new_numbers)}')

In [ ]:
numbers.clear() #리스트의 요소를 모두 삭제
numbers

# 2절. 튜플
- 리스트와 유사하지만, 읽기 전용. 수정이 필요없는 데이터에서 사용.
- 수정 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가 (제공되는 함수도 적음)
- 소괄호(), tuple() 함수 이용해서 생성

## 2.1 튜플만들기

In [ ]:
# city = ('서울', '부산', '인천', '목포')
city = '서울', '부산', '인천', '목포'
# 파이썬은 여러개의 값이 전달될 때, 소괄호 없이도 튜플타입으로 전달

print(type(city))
print(city)

In [ ]:
city = ('서울', '부산', '인천', '목포')

In [ ]:
' - '.join(city)

In [ ]:
l = ['서울']    # 요소가 하나 있는 리스트
print(type(l), l)
t = ('서울', )    # 요소가 하나 있는 튜플 -> str로 자동 변경됨 / 요소 뒤에 콤마, 찍어주면 튜플로 생성 가능
print(type(t), t)

In [ ]:
numbers = 3, 2, 1
min(numbers), max(numbers), sum(numbers), sorted(numbers)

In [ ]:
numbers = (0, 1, 2, (1,2), 0, 1,2)
numbers.count(2), numbers.count(9)

In [ ]:
# def safe_index(lst, item):
#     """
#     lst 안에 item 요소가 있으면 item 요소의 index를 반환하고, 없으면 -1 반환
#     lst : 나열가능한 데이터
#     item : 찾을 데이터
#     """

# #     if item in lst:
# #         return lst.index(item)
# #     else:
# #         return -1

#     return lst.index(item) if item in lst else -1

In [2]:
safe_index(numbers, 9)

NameError: name 'safe_index' is not defined

In [3]:
numbers = (0, 1, 2, (1,2), 0, 1,2)

from safe_index import safe_index
safe_index(numbers, 2), safe_index(numbers, 9)

(2, -1)

In [4]:
numbers * 3 # 반복

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [14]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1,2,3,4,5,6)

print([num**2 for num in numbers if not num%2])
print(tuple(num**2 for num in numbers if not num%2))
print(list(num**2 for num in numbers if not num%2))

[4, 16, 36]
(4, 16, 36)
[4, 16, 36]

# 3절. 딕셔너리
- 중괄호{}를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료구조
- 키는 중복 불가(유일한 값). 키에 list는 사용불가.
- 값은 중복 가능
- 인덱스를 이용한 참조 지원 안함

In [16]:
dic = {'name':'홍길동', 1:22, (1,2) : [1,2]}

print(type(dic))
print(dic)
print('데이터개수 :', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터개수 : 3

In [18]:
my_favorite = {'fruit':'apple', 'number' : 12,'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [25]:
print(my_favorite.keys())
print(my_favorite.values())
print(my_favorite['number'])
print(my_favorite.items())
print(my_favorite.get('number')) #

dict_keys(['fruit', 'number', 'sport'])
dict_values(['apple', 12, 'golf'])
12
dict_items([('fruit', 'apple'), ('number', 12), ('sport', 'golf')])
12

In [26]:
print(my_favorite['people']) # 없는 키 값을 인덱스 방식으로 참조시 에러 발생

KeyError: 'people'

In [29]:
print(my_favorite.get('people'))  # 없는 키 값을 get함수로 참조시 None
print(my_favorite.get('people', '-'))  # 없는 키 값을 get함수로 참조시, 두번째 매개변수가 있으면 그걸로 리턴 '-'

None
-

In [38]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple', 'number':12,'sport':'golf'}
my_favorite['fruit'] = 'mango'    #데이터 수정. 키값이 없으면 없으면 추가된다
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동'  #데이터 추가
print('데이터 추가 후 :', my_favorite)
del my_favorite['fruit']
print('fruit 제거 후 :', my_favorite)
remove_data = my_favorite.pop('number') # number 키의 값을 반환하고 제거
print('remove_data :', remove_data)
print('number 제거 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
데이터 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit 제거 후 : {'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove_data : 12
number 제거 후 : {'sport': 'golf', 'people': '홍길동'}

In [41]:
# for 문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999')

In [46]:
for data in my_tup:
    print(data, end='\t')
print()

for idx in range(len(my_tup)):
    print(f'{idx}번째 {my_tup[idx]}', end='\t')
print()

for idx, value in enumerate(my_tup):
    print(f'{idx}번째 {value}', end='\t')
print()

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999

In [47]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [48]:
# 엄청 비추
for data in my_dic:
    print(data, end='\t')

name	age	tel

In [49]:
for data in my_dic:
    print(my_dic.get(data), end='\t')

홍길동	30	010-9999-9999

In [70]:
for key in my_dic:
    print(my_dic[key], end='\t')

홍길동	30	010-9999-9999

In [51]:
for data in my_dic.values():  # 값만 추출
    print(data, end='\t')

홍길동	30	010-9999-9999

In [53]:
for data in my_dic.items():  # 키-값을 추출
    print(data, end='\t')

('name', '홍길동')	('age', 30)	('tel', '010-9999-9999')

In [55]:
for data in my_dic.keys():  # 키만 추출
    print(data, end='\t')

name	age	tel

In [56]:
for key, value in my_dic.items():
    print(f'{key}:{value}', end='\n')

name:홍길동
age:30
tel:010-9999-9999

In [57]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [61]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}.{:4} : {}".format(idx+1, key, value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-9999

In [66]:
'홍길동' in my_dic

False

In [67]:
# 앝은 복사
my_favorite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite
new_favorite['people'] = '홍길동'
print(new_favorite) 
print(my_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [69]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite.copy()            # 복제본(깊은복사)
new_favorite['people'] = '홍길동'
print(new_favorite) 
print(my_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12}

# 4절. 셋
- 순서가 정해지지 않고, 중복을 허용하지 않음(순서없음==인덱스없음)
- 중괄호 {}나 set()함수를 이용하여 정의
- 추가 : add(), update()
- 집합연산자 : &, |, -
- 삭제 : remove()

In [74]:
fruits = {'banana', 'orange', 'banana', 'banana', 'mango', 'apple'}
fruits

{'apple', 'banana', 'mango', 'orange'}

In [75]:
s1 = set([1,20,1,21,1,22])
s1

{1, 20, 21, 22}

In [76]:
#set 함수를 이용해 딕셔너리를 set으로 만들면 키 값만 적용
my_favorite = {'fruit':'apple', 'number':12}
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add() : 기본자료형, 튜플데이터 하나의 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나하나씩 추가할 경우. 단 dict 사용시 key만 추가. 스칼라데이터 추가시 에러발생

In [79]:
s2 = {1,1,2,3}
s2.add(4)
# s2.add([5,6,7])  # 에러 발생

s2

{1, 2, 3, 4}

In [80]:
s2.update([5,6,7])
s2

{1, 2, 3, 4, 5, 6, 7}

In [84]:
# 논리값은 논리값 혹은 숫자로 인식  False = 0, True = 1
s = {1,2,3}
s.add(False)
s.add(True)
s.add(0)
s

{False, 1, 2, 3}

In [85]:
s.remove(True)
s

{False, 2, 3}

## 연산 : &(교집합), |(합집합), -(차집합)
- &, | : 집합연산자, 논리연산자, 비트연산자  (연산 우선순위가 다르므로 괄호를 잘쳐야한다)

In [88]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print('s1 | s2 =', s1|s2)
print('s1 & s2 =', s1&s2)
print('s1 - s2 =', s1-s2)

s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 - s2 = {1, 2}

# 5절. enumaerate
- 반복자 또는 순서객체로 반복문을 처리할 때 사용함수
- 리스트, 튜플, 셋, 딕셔너리를 for문에 사용시

In [91]:
names = {'길자', '길동', '명자'}
for name in names:
    print(name, end='\t')
print()

for idx, name in enumerate(names):
    print(f'{idx}. {name}')

길동	명자	길자
0. 길동
1. 명자
2. 길자

In [95]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010.3333.3333', '010-3232-2323']
address = ['서울', '인천', '판교']

for name in names:
    print(name)

순자
길동
길자

In [97]:
#for name, tel, address in names, tels, address:
#    print(f'{name}:{tel},{address})

for idx in range(len(names)):
    print("{}.{}의 연락처는 {}이며, {}에 살아요".format(idx+1, 
                                             names[idx], 
                                             tels[idx], 
                                             address[idx]))

1.순자의 연락처는 010-9999-9999이며, 서울에 살아요
2.길동의 연락처는 010.3333.3333이며, 인천에 살아요
3.길자의 연락처는 010-3232-2323이며, 판교에 살아요

In [101]:
for name, tel, adds in zip(names, tels, address):
    print(f"{name}의 연락처는 {tel}이며, {adds}에 살아요")

순자의 연락처는 010-9999-9999이며, 서울에 살아요
길동의 연락처는 010.3333.3333이며, 인천에 살아요
길자의 연락처는 010-3232-2323이며, 판교에 살아요

In [100]:
list(zip(names, tels, address))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010.3333.3333', '인천'),
 ('길자', '010-3232-2323', '판교')]

In [103]:
for idx, (name, tel, adds) in enumerate(zip(names, tels, address)):
    print(f"{idx+1}.{name}의 연락처는 {tel}이며, {adds}에 살아요")

1.순자의 연락처는 010-9999-9999이며, 서울에 살아요
2.길동의 연락처는 010.3333.3333이며, 인천에 살아요
3.길자의 연락처는 010-3232-2323이며, 판교에 살아요

### 변수가 담을 수 있는 기본 자료형들 
```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```
<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width = "400"
     style = "float:left"
     >

# 6절. 연습문제

In [120]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [122]:
# 1. 숫자 100 을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [123]:
# 2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [124]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[:5])

[1, 2, 3, 4, 5]

In [125]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요

print(numbers[::2])

[2, 4, 6, 8, 10, 200, 400]

In [157]:
# 5. 짝수번째 데이터를 모두 0 으로 바꾸세요
# numbers[::2] = [0,0,0,0,0,0,0]
numbers[::2] = [0]*len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [164]:
# 5-1. 출력만 바꾼다면?
numbers = [1,2,3,4,5,6,7,8,9,10]
[num if idx%2!=0 else 0 for idx, num in enumerate(numbers)]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [129]:
# 6. 데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다
numbers.reverse()
numbers

[500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [139]:
member_info = {"name":'홍길동', 'age':20, 'address' :'서울시 마포구','score':90}

In [140]:
# 7.address 값을 출력하세요
member_info.get('address')

'서울시 마포구'

In [141]:
# 8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요
print(member_info.get('score'))
del member_info['score']
print(member_info)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [142]:
# 9. address 를 서울시 서대문구 로 변경하세요
member_info['address'] = '서울시 서대문구'
print(member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [143]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
print(list(member_info.values()))

['홍길동', 20, '서울시 서대문구']

### 서술형

In [ ]:
# 1번. 'orange', 'banana'

In [146]:
# 2번. 3번
print(list(range(10,0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [148]:
# 3번. 1
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [ ]:
# 4번 . extend

In [149]:
# 5번. [0,1,0,3,0,5,0,7,0,9]
numbers = list(range(10))
numbers[::2]= [0]*len (numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [ ]:
# 6번. [5,1,6,3,7,5,8,7,9,9]

In [ ]:
# 7번. [0,1,1,3,2,5,3,7,4,9]

In [152]:
# 8번. 1번
my_dic = {'a':10, 'b':20, 'c':30}
my_dic[0]

10

In [153]:
# 9번. 
'''
apple
banana
orange
'''

'\napple\nbanana\norange\n'

In [ ]:
# 10번. 3

In [ ]:
# 11번. def