In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

# 1. 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개의 값(여러 타입)을 하나의 변수에 저장 관리할 수 있음
- list(리스트로 변환 가능한 자료) 함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터 셋 추출
- 인덱스와 슬라이싱을 통해 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [4]:
fruits[0] = 'mango'
fruits

['mango', 'apple', 'orange', 'grape']

In [5]:
a, b, c, d = fruits
print(a,b,c,d)

mango apple orange grape

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
fruits = ['mango', 'apple', 'orange', 'grape']

for i in range(len(fruits)):
    print(f'{i+1}번째 과일은 {fruits[i]}입니다.')

print('-'*50)

for idx, value in enumerate(fruits):
    print(f'{idx+1}번째 과일은 {value}입니다.')

1번째 과일은 mango입니다.
2번째 과일은 apple입니다.
3번째 과일은 orange입니다.
4번째 과일은 grape입니다.
--------------------------------------------------
1번째 과일은 mango입니다.
2번째 과일은 apple입니다.
3번째 과일은 orange입니다.
4번째 과일은 grape입니다.

In [13]:
score_2d = [[90,84,79,93], 
            [95,75,89,88], 
            [92,89,99,87]]  

for i, row in enumerate(score_2d):
    for j, value in enumerate(row):
        print(f'{i}행 {j}열의 수 : {value}', end='\t')
    print()

0행 0열의 수 : 90	0행 1열의 수 : 84	0행 2열의 수 : 79	0행 3열의 수 : 93
1행 0열의 수 : 95	1행 1열의 수 : 75	1행 2열의 수 : 89	1행 3열의 수 : 88
2행 0열의 수 : 92	2행 1열의 수 : 89	2행 2열의 수 : 99	2행 3열의 수 : 87

In [14]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
             [9, 100, 1, 2, 3],
             [50, 64]]

In [15]:
min(numbers), max(numbers), min(numbers_2d), max(numbers_2d)

(1, 12, [9, 100, 1, 2, 3], [100, 0])

In [18]:
sorted(numbers, reverse=True), sorted(numbers_2d)

([12, 5, 4, 3, 1], [[9, 100, 1, 2, 3], [50, 64], [100, 0]])

In [19]:
numbers_2d +numbers

[[100, 0], [9, 100, 1, 2, 3], [50, 64], 1, 12, 3, 5, 4]

In [21]:
numbers_2d.append(numbers)
numbers_2d

[[100, 0], [9, 100, 1, 2, 3], [50, 64], [1, 12, 3, 5, 4], [1, 12, 3, 5, 4]]

In [23]:
numbers.extend(numbers_2d)
print(numbers)

[1, 12, 3, 5, 4, [100, 0], [9, 100, 1, 2, 3], [50, 64], [...], [...], [100, 0], [9, 100, 1, 2, 3], [50, 64], [...], [...]]

In [24]:
del numbers[5:]

In [26]:
numbers.remove(12)

In [27]:
numbers

[1, 3, 5, 4]

In [34]:
numbers_2d

[[100, 0], [9, 100, 1, 2, 3], [50, 64], [1, 3, 5, 4], [1, 3, 5, 4]]

In [59]:
def search_index(n, lst_2d):
    print(f'검색결과 :', end=' ')
    found = False
    for i, row in enumerate(lst_2d):
        for j, value in enumerate(row):
            if value == n:
                print(f'[{i}행 {j}열]',end=' ')
                found = True
    if not found:
        print(f'{n}은 찾을 수 없습니다.')

In [60]:
search_index(11, numbers_2d)

검색결과 : 11은 찾을 수 없습니다.

In [61]:
nums = [1,2,3,[1,2,3,], 1,2,3]

In [63]:
nums.index(3,3)

6

In [65]:
#문제: 0부터 9까지의 정수 중 짝수만 담긴 리스트를 리스트 컴프리헨션으로 만들어보세요.

even = [i for i in range(10) if not i%2]
even

[0, 2, 4, 6, 8]

In [68]:
#문제: 주어진 문자열 리스트에서 글자 수가 5 이상인 문자열만 대문자로 바꿔 리스트에 담아보세요.
words = ['apple', 'dog', 'banana', 'cat', 'pineapple']

result = [text.upper() for i,text in enumerate(words) if len(words[i])>=5]
result

['APPLE', 'BANANA', 'PINEAPPLE']

In [70]:
result = [text.upper() for text in words if len(text)>=5]
result

['APPLE', 'BANANA', 'PINEAPPLE']

In [73]:
#문제 : 아래와 같은 2차원 리스트가 있습니다. 각 행에서 짝수만 골라 제곱한 결과를 담은 2차원 리스트를 리스트 컴프리헨션으로 만들어보세요.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

result = [[i**2 for i in row if not i%2] for row in matrix ]
result

[[4], [16, 36], [64]]

In [74]:
#문제 : 길이가 5 이상인 단어만, 단어를 키로 하고 글자 수를 값으로 하는 딕셔너리를 만들어봐!
words = ['ant', 'elephant', 'dog', 'giraffe', 'bat']
len_ = {t : len(t) for t in words if len(t)>=5}
len_

{'elephant': 8, 'giraffe': 7}

In [83]:
# 이걸 딕셔너리로 바꾸되, **점수가 80점 이상인 사람만 'pass' / 나머지는 'fail'**로 결과를 만들어봐!
scores = [('Alice', 88), ('Bob', 95), ('Charlie', 70), ('David', 60)]
result = {name : 'pass' if score>=80  else 'fail' for name, score in scores  }
result

{'Alice': 'pass', 'Bob': 'pass', 'Charlie': 'fail', 'David': 'fail'}

In [85]:
# 이 리스트에서 성인(나이 19세 이상)인 사람의 이름만 리스트로 뽑아봐
people = [('Jin', 22), ('Yuna', 17), ('Minho', 19), ('Sora', 15)]
adult = [name for name, age in people if age>=19 ]
adult

['Jin', 'Minho']

In [86]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [88]:
# 1. 숫자 100 을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [89]:
# 2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [90]:
# 3. 처음 다섯 개 숫자만 출력하세요
numbers[:5]

[1, 2, 3, 4, 5]

In [91]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
numbers[::2]

[1, 3, 5, 7, 9, 100, 300, 500]

In [92]:
# 5. 짝수번째 데이터를 모두 0 으로 바꾸세요 (리스트 컴프리헨스로)
numbers[::2] = [0]*len(numbers[::2])
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [93]:
# 6. 데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다
numbers.reverse()
numbers

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [105]:
member_info = {"name":'홍길동', 'age':20, 'address' :'서울시 마포구','score':90}

In [106]:
# 7.address 값을 출력하세요
# member_info['address']
member_info.get('address')

'서울시 마포구'

In [108]:
# 8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요
print(member_info.get('score'))
del member_info['score']
#member_info.pop('score')
member_info

90

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [103]:
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [98]:
# 9. address 를 서울시 서대문구 로 변경하세요
member_info['address'] = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [ ]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

In [102]:
lst = list(member_info.values())
lst

['홍길동', 20, '서울시 서대문구']