In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font size="5" color="red">ch03. 데이터구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋

# 1절. 리스트

## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱( [from:stop:step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [3]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [4]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [6]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [9]:
x, y, z, o = fruits
print(x, y, z, o)

mango apple orange grape

In [12]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print('z={}'.format(z))
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [16]:
# range(from, to, by)  * from 부터 to 앞까지 by씩 증가하면서 지정된 범위의 정수
    # from 생략시 : 0 , by 생략시 : 1
range(10)

range(0, 10)

In [19]:
print(list(range(0,10)))
print(list(range(10)))
print(list(range(101,111)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [20]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [26]:
# 반복문(3회)
#for i in [0,1,2,3,4,5,6,7,8,9]:
for i in range(3):
    print(i)

0
1
2

In [37]:
fruits = ['mango', 'apple', 'orange', 'grape']
for i in fruits:
    print(i)

print('-'*50)    
    
for i in range(3):
    print("{}번째 과일은 {}입니다.".format(i, fruits[i]))

print('-'*50) 

for i in range(len(fruits)):  # len(리스트) : 리스트 데이터 수
    print("{}번째 과일은 {}입니다.".format(i, fruits[i]))

print('-'*50) 
    
for i in fruits:
    print(f"{i}입니다.")

mango
apple
orange
grape
--------------------------------------------------
0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
--------------------------------------------------
0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
3번째 과일은 grape입니다.
--------------------------------------------------
mango입니다.
apple입니다.
orange입니다.
grape입니다.

In [38]:
i, v = [1, 'mango']
print(i)
print(v)

1
mango

In [48]:
# enumerate(나열가능한 자료) : (index, 값)들의 셋들로 만들어줌
# for idx, value in [[0, 'mango'], [1, 'apple'], [2, 'orange'], [3, 'grape']]: - enumerate(fruits) 함수로 간단히 사용 가능
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다.".format(idx, value))
    
print(list(enumerate(fruits)))

0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
3번째 과일은 grape입니다.
[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [65]:
# 리스트는 여러 타임의 데이터를 담을 수 있음 - 숫자, 논리값, 텍스트, 리스트
numbers = [0, True, '2', 3, [4,5,6]]
print(numbers)
print(numbers[1])
print(numbers[4][1])  #리스트 안의 리스트는 이렇게 엑세스 한다

[0, True, '2', 3, [4, 5, 6]]
True
5

In [83]:
# 2차원 리스트
score_2d = [[90,84,79,93], 
            [95,75,89,88], 
            [92,89,99,87]]  
len(score_2d), len(score_2d[0])

(3, 4)

In [89]:
for i, row in enumerate(score_2d):
    for j, value in enumerate(row):
        print("{}행 {}열 : {:3d}".format(i, j, value), end='\t')

0행 0열 :  90	0행 1열 :  84	0행 2열 :  79	0행 3열 :  93	1행 0열 :  95	1행 1열 :  75	1행 2열 :  89	1행 3열 :  88	2행 0열 :  92	2행 1열 :  89	2행 2열 :  99	2행 3열 :  87

In [90]:
for i, row in enumerate(score_2d):
    for j, value in enumerate(row):
        print("{}행 {}열 : {:3d}".format(i, j, value), end='\t') 
    print(end="\n")  # value는 생략해도 가능, 줄바꿈 실행

0행 0열 :  90	0행 1열 :  84	0행 2열 :  79	0행 3열 :  93
1행 0열 :  95	1행 1열 :  75	1행 2열 :  89	1행 3열 :  88
2행 0열 :  92	2행 1열 :  89	2행 2열 :  99	2행 3열 :  87

In [105]:
for row in score_2d:
    for value in row:
#        print("{:3d}".format(value), end='\t') 
        print(value, end='\t')
    print()

90	84	79	93
95	75	89	88
92	89	99	87

## 1.2 기본 정보 조회

In [109]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
             [9, 100, 1, 2, 3],
             [50, 64]]

In [110]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [111]:
min(numbers), max(numbers)

(1, 12)

In [113]:
min(numbers_2d), max(numbers_2d)
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
#             max() : 0번 인덱스 요소가 가장 큰 값

([9, 100, 1, 2, 3], [100, 0])

In [115]:
# 문자 list인 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'Apple']
min(fruits), max(fruits)

('Apple', 'orange')

In [126]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순', sorted(numbers))
print('내림차순', sorted(numbers, reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음', numbers) 
print('합 :', sum(numbers))

오름차순 [1, 3, 4, 5, 12]
내림차순 [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 [1, 12, 3, 5, 4]
합 : 25

 ## 1.3 요소 추가
- \+ : 두 리스트 연결
- \* : 리스트를 곱한 수만큼 반복
- append() : 리스트 맨 뒤에 요소 추가
- extend() : 리스트 맨 뒤에 리스트를 요소별로 추가
- insert(idx, 값) : 지정된 index 위치로 삽입, 기존 데이터는 shift

In [131]:
numbers = [1 ,2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [132]:
numbers = numbers * 3
numbers

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [145]:
numbers1 = [1,2,3]
numbers2 = [5,6,7]
numbers1.extend(numbers2)
print(numbers1)
numbers1.insert(3,100)
print(numbers1)

[1, 2, 3, 5, 6, 7]
[1, 2, 3, 100, 5, 6, 7]

In [146]:
numbers3 = [1,2,3]
score_2d.append(numbers1)
score_2d

[[90, 84, 79, 93], [95, 75, 89, 88], [92, 89, 99, 87], [1, 2, 3, 100, 5, 6, 7]]

In [153]:
score_2d.extend(numbers2)
print(score_2d)
num = [1,2,3]
num.extend([4,5,6])
print(num)

[[90, 84, 79, 93], [95, 75, 89, 88], [92, 89, 99, 87], [1, 2, 3, 100, 5, 6, 7], 5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7]
[1, 2, 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수.[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 찾을데이터가 있는 요소의 인덱스를 반환
                     찾을데이터가 없는 경우 오류 발생
- count(찾을데이터) : 리스트에서 찾을데이터의 개수를 반환

In [167]:
nums = [1,2,3,[1,2,3,], 1,2,3]
print(nums.count(2), nums.count(9))
print(nums.index(2))   # 0번째 index부터 2가 처음 나오는 index를 반환
print(nums.index(2, 3))   # 3번째 index부터 2가 처음 나오는 index를 반환

2 0
1
5

ValueError: 9 is not in list

In [168]:
# print(nums.index(9))  - 오류발생

if nums.count(9):
    print(nums.index(9))
else:
    print('9가 없어요')

9가 없어요

In [170]:
9 in nums # nums 리스트 안에 9가 존재하는지 여부를 리턴해준다

False

In [171]:
if 9 in nums:
    print(nums.index(9))
else:
    print('9가 없어요')

# index 함수는 에러가 뜰 가능성이 있으므로, 'in'과 같이 쓴다

9가 없어요

In [177]:
def safe_index(lst, data):
    if data in lst: # lst 안에 data가 있는지 여부
        return lst.index(data)
    else:
        return -1        

safe_index(nums, 2)

1

## 1.5 슬라이싱(원하는 요소 추출)
- 원하는 인덱스, 데이터를 가져올 수 있음

1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스의 범위 벗어나도 에러안남)
    - .[from:stop:step] from부터 stop 앞!까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음. stop 생략시 끝까지. step 생략시 1. 모두 생략가능
    - 음수 인덱스 가능


2. <font color="red">**리스트 컴프리헨션**</font> : 리스트에서 원하는 데이터를 추출

In [182]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
len(numbers)

# 짝수번째 인덱스 값 출력
print(numbers[::2])

# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [196]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = []
# 리스트에서 모든 데이터를 변수에 담아 출력하시오
for data in numbers:
    result.append(data)
print(result)


# 리스트컴프리헨션을 통해 짝수만 가져와라
for i in numbers:
    if i%2 ==0:
#   if not i%2:
        result.append(i)
print(result)

[10, 12, 20]

**리스트 컴프리헨션**

In [198]:
# 리스트 컴프리헨션으로 리스트에서 모든 데이터를 변수에 담아 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [202]:
# 리스트 컴프리헨션으로 리스트에서 짝수 데이터를 변수에 담아 추출 - if문 추가 가능
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = [data for data in numbers if data%2==0]
print(result)

[10, 12, 20]

In [204]:
# ex1.numbers 에서 10이상만 추출 
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result1=[i for i in numbers if i>=10]
result1

[10, 12, 13, 20]

In [205]:
# ex2. fruits에서 5글자 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
result2 = [f for f in fruits if len(f)>=5]
result2

['orange', 'apple', 'mango']

In [207]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
result3 = [n**2 for n in L if n>=3]
result3

[9, 16, 25]

In [252]:
#주어진 문자열에서 **모음(a, e, i, o, u)**을 제거하고,
#남은 문자들을 뒤집어서 리스트로 만들어라.

text = "I love Python"
low_text = text.lower()
del_char = ['a', 'e', 'i', 'o', 'u',' ']
slc_char = [s for s in low_text if s not in del_char] 
slc_char.reverse()
print(slc_char)

['n', 'h', 't', 'y', 'p', 'v', 'l']

In [213]:
text = "I love Python"
low_text = text.lower()
slc_char = [s for s in low_text]
slc_char

['i', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

## 1.6 요소 수정하기

In [220]:
num = [0,1,2,3,4,5,6,7,8,9]
# 인덱스를 이용해서 요소 수정
num[2] = 222
num

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [233]:
# 슬라이싱을 이용해서 요소 수정 (step 부분이 미포함 : 부분리스트가 통째로 수정)
num1 = [0,1,2,3,4,5,6,7,8,9]
num1[::2] = [99,99,99,99,99]
num1

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(inx) : idx번째 요소가 반환되고 삭제
- remove(지울데이터) : 리스트안의 데이터가 삭제
- del 번수.[idx] : idx 번째 요소가 삭제

In [243]:
numbers = [1,2,3,4,5]
delete_data = numbers.pop()
print('삭제된 데이터 : {}, 리스트 : {}'.format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print('삭제된 데이터 : {}, 리스트 : {}'.format(delete_data, numbers))

del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 5, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [246]:
numbers = [1,2,3,4,5]
del_num = numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [253]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [254]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [258]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)
numbers

9는 없는 아이템입니다
5는 없는 아이템입니다

[1, 2, 4]