In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

In [10]:
# 난이도 하 : 문제: 주어진 정수 리스트에서 모든 수를 제곱한 결과를 구하세요. 람다식을 사용해서 map을 활용하세요.
numbers = [1, 2, 3, 4, 5]

list(map(lambda n : n**2, numbers))

[1, 4, 9, 16, 25]

In [11]:
# 난이도 중 (조건 필터링)
#문제: 주어진 문자열 리스트에서 길이가 5 이하인 문자열만 골라내세요. filter와 람다식을 활용하세요
words = ["apple", "banana", "pear", "kiwi", "plum", "grape"]

In [13]:
result = list(filter(lambda text : len(text)<=5, words))
result

['apple', 'pear', 'kiwi', 'plum', 'grape']

In [14]:
# 난이도 상 (정렬 기준 정의)
# 문제: (이름, 점수) 형태의 튜플 리스트가 있습니다. 점수를 기준으로 내림차순 정렬하세요. sorted 함수에서 key로 람다식을 사용하세요
students = [("Alice", 82), ("Bob", 91), ("Charlie", 78), ("David", 88)]

In [18]:
sorted(students, key= , reversed=True)

TypeError: sorted expected 1 argument, got 4

In [21]:
# 문제 1 – 딕셔너리 리스트 정렬 (람다 + sorted)
# 점수가 높은 순으로 정렬해서 이름만 뽑은 리스트를 만들어봐.
students = [
    {'name': '영희', 'score': 85},
    {'name': '철수', 'score': 92},
    {'name': '민수', 'score': 78},
    {'name': '지수', 'score': 90}
]

In [26]:
sorted(students, key= lambda x : x['score'], reverse=True)

[{'name': '철수', 'score': 92},
 {'name': '지수', 'score': 90},
 {'name': '영희', 'score': 85},
 {'name': '민수', 'score': 78}]

In [28]:
list(map(lambda name : name['name'],  sorted(students, key= lambda x : x['score'], reverse=True) ))

['철수', '지수', '영희', '민수']

In [32]:
# 문제 2 – 람다식으로 조건 걸어서 숫자 변환하기
# 주어진 정수 리스트에서 짝수면 문자열 'even', 홀수면 'odd'로 바꾸는 리스트를 만들어봐.
numbers = [1, 2, 3, 4, 5, 6]

In [34]:
result = list(map(lambda n : 'odd' if n%2==1 else 'even', numbers))

In [35]:
result

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [38]:
words = ["dog", "lion", "cat", "tiger", "bear"]
list(filter(lambda t : len(t)>=4, words))

['lion', 'tiger', 'bear']

In [41]:
numbers = [3, 12, 7, 15, 2]
list(map(lambda n : 'small' if n<10 else 'big', numbers))

['small', 'big', 'small', 'big', 'small']

In [42]:
items = [("apple", 3), ("banana", 2), ("kiwi", 5)]
items.sort(key=lambda item : len(item[0]))
items

[('kiwi', 5), ('apple', 3), ('banana', 2)]

In [9]:
# ex1. 매개변수로 들어온 값이 '짝수'인지 '홀수'인지 리턴
# 일반 함수로 선언

def ex1_1(n):
    if n%2:
        result = '홀수'
    else:
        result = '짝수'
    return result

print('일반함수 결과값 :', ex1_1(9))

ex1_2 = lambda n : '홀수' if n%2 else '짝수'
print('람다식 결과값 :', ex1_2(9))

일반함수 결과값 : 홀수
람다식 결과값 : 홀수

In [13]:
# ex2. 2개의 매개변수의 차이를 리턴 (큰수에서 작은수 빼기)

ex2 = lambda a, b : a-b if a>b else b-a
ex2(9,2)

7

In [16]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 리턴, 음수면 'negative' 리턴

ex3 = lambda x : x if x>=0 else 'negative'
ex3(-100)

'negative'

In [24]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀' 60점 미만은 재시험, 그외는 유효하지 않음

ex4 = lambda score : '유효하지 않음' if 101<score or 0>score else \
                    'A팀' if score>=80 else 'B팀' if score >=60 else '재시험'
ex4(79)

'B팀'

In [25]:
# ex5. safe_index 를 람다식으로
def safe_index_1(lst, data):
     if data in lst: # lst 안에 data가 있는지 여부
        return lst.index(data)
     else:
        return -1 

safe_index_2 = lambda lst, data : lst.index(data) if data in lst else -1

In [27]:
lst = [1,2,3,4,5]
print(safe_index_1(lst, 1))
print(safe_index_2(lst, 2))

0
1

In [32]:
# 예제 1. 아래 리스트를  price = ['5000', '800', '1000', '6000'] 로 바꾸시오
price = ['5,000', '800', '1000', '6,000']

price_2 = list(map(lambda p : p.replace(',', ''), price))
price_2

['5000', '800', '1000', '6000']

In [45]:
# 예제 2. member1을 member2로 바꿔라
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
          {'name':'신길동', 'birth':'1998-12-31'}]를
member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
          {'name':'신길동', 'year':1998, 'month':12, 'day':31}]
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
          {'name':'신길동', 'birth':'1998-12-31'}]

# year = member1[0]['birth'].split('-')[0]
# month = member1[0]['birth'].split('-')[1]
# day = member1[0]['birth'].split('-')[2]


member2= list(map(lambda member : {'name': member.get('name'),
                                        'year':int(member['birth'].split('-')[0]),
                                        'month':int(member['birth'].split('-')[1]),
                                        'day':int(member['birth'].split('-')[2])}
                      , member1))
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [54]:
member3 = list(map(lambda member : {'name':member.get('name'),
                                   'birth' : '{}-{:02}-{:02}'.format(member.get('year'),
                                                                    member.get('month'),
                                                                    member.get('day'))
                                   }
                   , member2)
              )
member3

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [58]:
member3 = list(map(lambda member : {'name': '{name}'.format(**member),
                                   'birth' : '{year}-{month:02}-{day:02}'.format(**member)
                                   }
                   , member2)
              )
member3

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [72]:
# 예제 1. 
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':80},
    {'name':'신길동', 'score':99},
    {'score':100}
    
]
print(students[3].get('name'))

None

In [73]:
# 이름순으로 정렬

students.sort(key=lambda student : student.get('name', '힣'))
print(students)

[{'name': '김길동', 'score': 80}, {'name': '신길동', 'score': 99}, {'name': '홍길동', 'score': 90}, {'score': 100}]

In [99]:
# 예제 2. 책 제목순 정렬(ㄱㄴㄷ), 저자순 정렬(ㄱㄴㄷ), 가격순 오름차순 정렬
books = [
    {'no':1, 'title':'강남 아파트 인사이트', 'writer': '오스롤로이드', 'price':'25,200'},
    {'no':2, 'title':'결국 국민이 합니다', 'writer': '이재명', 'price':'19,800'},
    {'no':3, 'title':'단 한 번의 삶', 'writer': '김영하', 'price':'15,120'},
    {'no':4, 'title':'가격이 잘못', 'writer': '홍길동', 'price':'-'},
    {'no':5, 'title':'가격이 숫자', 'writer': '임꺽정', 'price':900},
    {'no':6, 'title':'가격이 없음', 'writer': '전우치'},
]

p = '25,200'
p.replace(',','')
books[4].get('price').replace(',','').isdigit()

AttributeError: 'int' object has no attribute 'replace'

In [94]:
# '1,400'-> 1400  / 800 ->800 / '-' ->0

def modify_price(p):
    if isinstance(p, str) and p.replace(',','').isdigit():
        return int(p.replace(',',''))
    else:
        return 0

In [ ]:
# {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'}

In [102]:
books.sort(key= lambda book : int(book.get('price').replace(',','')) if isinstance(book.get('price'), str) and \
                               book.get('price').replace(',','').isdigit() else \
                               book.get('price') if isinstance(book.get('price'), int) else \
                               0)

In [103]:
books

[{'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이 없음', 'writer': '전우치'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '임꺽정', 'price': 900},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '결국 국민이 합니다', 'writer': '이재명', 'price': '19,800'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스롤로이드', 'price': '25,200'}]

In [124]:
# 1번. 함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요

def get_max_min(data_list):
    get_max_min = [max(data_list), min(data_list)]
    return get_max_min

lst = [1,5,7,10]
(lambda data : [max(data), min(data)])(lst)

[10, 1]

In [129]:
#2번. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
#함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요

def getBMI(kg, m):
    BMI=kg/(m**2)
    if BMI < 18.5:
        result = '마른 체형'
    elif 18.5<= BMI <25:
        result = '표준'
    elif 25<= BMI <30:
        result = '비만'
    else:
        result = '고도비만'
    print(f'당신의 BMI는 {BMI:.1f}, 판별 결과 {result}입니다')

getBMI(76, 1.75)

당신의 BMI는 24.8, 판별 결과 표준입니다

In [135]:
getBMI = lambda kg, m : '마른 체형' if (kg/(m**2)) < 18.5 else\
                        '표준' if 18.5<= (kg/(m**2)) <25 else\
                        '비만' if 25<= (kg/(m**2)) <30 else\
                        '고도비만'
print(getBMI(76,1.75))

표준

In [136]:
# 3번. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성

import math
def get_triangle(width, height):
    area = width*height/2
    circum = width+height+(math.sqrt(width**2+height**2))
    return area, circum

get_triangle(2,3)

(3.0, 8.60555127546399)

In [138]:
# 4번. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함)

def sum_range(x,y):
    return sum(range(x,y+1))

print(sum_range(1,3))

(lambda x, y : sum(range(x,y+1)))(1,3)

6

6

In [154]:
# 5번. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요

L = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
def blind(list):
    blind = []
    for word in L:
        blind.append(word[:3])
    return blind
print(blind(L))

blind_word = list(map(lambda word : word[:3], L))
print(blind_word)

['Seo', 'Dae', 'Kwa', 'Jej']
['Seo', 'Dae', 'Kwa', 'Jej']

In [155]:
# 6번. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
(lambda x, y : x**y)(3,2)

9

In [159]:
# 7번. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오

ex = [1,2,3,4,5]
# 람다식
print('람다식 :', list(map(lambda i : i**2, ex)))

print('리스트 컴프리헨션 :', [n**2 for n in ex])

람다식 : [1, 4, 9, 16, 25]
리스트 컴프리헨션 : [1, 4, 9, 16, 25]

In [ ]:
# 8번. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
# *a 와 같이 매개변수에 *를 앞에 붙이므로써 언패킹되어 하나씩 프린트된 것

In [ ]:
# 9번. 예제 코드 실행 결과는?
# result = 2024-9-6

In [179]:
# 10번. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.
ex = [[1,2,3], {1,2,3}, (1,2,3), [5,6,7]]

def vector_size_check(vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    if len(set(result))==1:
        print(set(result))
        return True
    else:
        print(set(result))
        return False

vector_size_check(ex)

{3}

True

In [182]:
# 10번. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

vector_size_check = True if len(set(len(check) for check in ex))==1 else False

vector_size_check

True

In [185]:
# 11번. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)

def scalar_vector_product(x, lst):
    result = []
    for i in lst:
        result.append(x*i)
    return result


print(scalar_vector_product(5, [1,2,3,4]))
print()
x=5
print([x*i for i in [1,2,3,4]])
list(map(lambda i : x*i, [1,2,3,4]))

[5, 10, 15, 20]

[5, 10, 15, 20]

[5, 10, 15, 20]

In [186]:
def scalar_vector_product_2(x, lst):
    return [x*i for i in lst]
scalar_vector_product_2(5, [1,2,3,4])

[5, 10, 15, 20]

In [188]:
# 서술형 3. 실행결과
var = 100
def func(var): # 매개변수로 들어온 변수는 지역변수
    var = 200  # 그러므로 var는 전역변수가 아니고 지역변수
func(var)
print(var)

100

In [189]:
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5