In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="5" color="red">ch05. 함수 </font></b>
- 사용할 코드를 묶어놓고 그것에 이름을 붙인것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른함수를 허용하는 것) 불가
- 함수 정의(문자, 숫자, _로 이름 정의, 변수명 규칙과 동일)
```
def 함수명([매개변수1, 매개변수2, 매개변수n]):   # [매개변수] 생략 가능
    명령어1
    명령어2
    명령어n
```

# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
# 함수 정의
def my_msg(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [3]:
# 함수 사용 = 함수 호출
my_msg(3, '*')

*
*
*

In [4]:
my_message = my_msg 
type(my_msg), type(my_message)

(function, function)

In [4]:
print('my_msg')   # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5         # 기존에 있는 함수명과 동일한 이름에 변수 할당이 가능하지만
# print('my_msg') # 그 후엔 함수가 사용 불능 상태
del print         # del 명령어로 print 변수를 삭제했더니
print('my_msg')   # print 함수 사용 가능해짐, but 내장 함수니까 가능한거지 임의로 선언한 함수는 날아가서 사용 불가

my_msg
my_msg

In [13]:
my_message(2, 'Hello')

Hello
Hello

In [6]:
my_message = 5

In [8]:
del my_message    # 임의로 선언한 함수는 날아가서 사용 불가

In [10]:
my_message(2, 'Hello') # 임의로 선언한 함수는 날아가서 사용 불가

NameError: name 'my_message' is not defined

In [8]:
# 함수 정의 : 4월 16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [10]:
# 함수사용 = 함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [11]:
my_hello

In [12]:
__name__ = '__main__'

'__main__'

In [13]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [2]:
import ch05      # ch05 모듈을 load

In [3]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [5]:
from ch05 import my_hello   # ch05 모듈 안의 my_hello load

In [6]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring
- 함수의 설명서
- 함수 맨 첫라인에 작성 
- 한줄 작성시 ' 혹은 "로 시작. 여러줄 작성시 ''' 혹은 """ 로 시작

In [8]:
def my_fuction():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [ ]:
my_fuction()

In [11]:
print(my_fuction, "\n", my_fuction.__doc__)

<function my_fuction at 0x000002848B7AB9A0>

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [12]:
def finonacci(n):
    f1, f2=0,1
    
    while f1 < n:
        print(f1, end=" ")
        f1, f2 = f2, f1+f2
    print() # 개행

In [13]:
finonacci(10)

0 1 1 2 3 5 8

In [14]:
if True:
    x = 10

In [17]:
f1, f2     # 함수에서 사용한 변수는 다른 블록에선 사용이 불가하다.

NameError: name 'f1' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)
-

In [22]:
global_var = 100  # 전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [25]:
def func2():
    local_var = 200   #지역변수
    print('함수안 :', local_var)
func2()
print('함수밖 :', local_var)  # 에러발생. 지역변수는 함수 밖에서는 사용안됨

함수안 : 200

NameError: name 'local_var' is not defined

In [28]:
g_var = 100 # 전역변수
def func3():          # 로컬 심볼 테이블을 열고
    g_var = 200       # 로컬 심볼 테이블에서 g_var의 변수에 200을 새로 할당(선언)
    print('함수 안(지역변수 g_var) :', g_var)
func3()               # 다 실행하고 나면 로컬 심볼 테이블은 없어진다
print('함수 밖(전역변수 g_var) :', g_var)   #따라서 이전에 할당(선언)한 g_var = 100이 유지가 되는 것

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [2]:
# 렉시컬 특성 
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200  #지역변수        
# 작성 순서 관계없이 변수 선언부터 컴파일을 하고 그 다음 위에서 부터 해석이 됨
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [34]:
# 렉시컬 특성 
g_var = 100 # 전역변수
def func4():
    global g_var  # func4 함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200  #전역변수        
func4()

print('함수 밖 g_var :', g_var)
# 변수 조회 우선순위 : 로컬 심볼 테이블 > 전역 심볼 테이블> 내장 된 이름 테이블

함수 안 g_var : 100
함수 밖 g_var : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [3]:
foo = 'a'   # 전역변수
id(foo)

2302047512688

In [4]:
def func1(f):   # 매개변수f는 지역변수
    print('Before :', f, 'id(f):', id(f))
    f = f*3
    print('After :', f, 'id(f):', id(f))
func1(foo)

Before : a id(f): 2302047512688
After : aaa id(f): 2300006058416

In [38]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [55]:
soo = [1,2,3]
id(soo)

2768332529792

In [56]:
def func2(f):
    print('Before:', f, 'id(f):', id(f))
    f.append(4)            # 재할당을 한것이 아니라 append 한 것이므로 f의 주소는 동일하다
    print('After:', f, 'id(f):', id(f))
func2(soo)

Before: [1, 2, 3] id(f): 2768332529792
After: [1, 2, 3, 4] id(f): 2768332529792

In [57]:
id(soo)

2768332529792

# 2절. 함수의 실행결과를 반환하는 return

In [66]:
# return 뒤에 값을 가지고 호출한 함수로 간다
def add(a):
    pass

In [68]:
print(add(10))

None

In [92]:
# 피보나치 배열을 리턴하는 함수 만들기
def fibonaccii_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10 이면 0 1 1 2 3 4 8 을 출력
    '''
    f1, f2=0,1    
    while f1 < n:
        print(f1, end=" ")
        f1, f2 = f2, f1+f2
    print()
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10 이면 [0 1 1 2 3 4 8] 를 만들어서 return
    '''
    F = []
    f1, f2=0,1
    while f1 < n:
        F.append(f1)
        f1, f2 = f2, f1+f2
    return F             # return은 하나 값만 리턴할 수 있다.

In [90]:
x = fibonaccii_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [93]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러 개 값 return

In [7]:
def swap(a,b):
    '매개 변수의 순서를 바꿔서 리턴'
    return b, a       # 자동으로 튜플로 팩킹하여 전달

In [98]:
x, y= 10, 11  # => x, y = (10, 11)
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=10, y=11
함수 실행 후 x=11, y=10

# 3절. 함수 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [102]:
def make_url(ip,port=80):  # port의 기본값을 80으로 두겠다
    return "http://{}:{}".format(ip, port)
# 순서인수(기본값을 갖지 않는 매개변수) > 기본값을 갖는 매개변수

In [106]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port=8090, ip='localhost'))  # 함수를 호출할때 키워드 인수(인수에 매개변수 이름과 값을 넣으면) 순서 관계 없이 처리됨

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일 때
- 기본 변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [8]:
i = 5

# 기본 값을 갖는 변수가 스칼라 변수일때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg=', arg)

In [9]:
i = 50    # 이미 함수가 정의된 이후이므로, 함수 내 i의 값이 변하지 않는 것
func2()

arg= 5

In [114]:
list_ = []
# 기본 값을 갖는 변수가 객체(데이터구조) 일 때 : 참조된 객체를 호출하는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [121]:
func3(10)   # list_가 수정

[10, 9, 3, 8, 10]

In [127]:
def func4(data, L=None):
    if L==None:
        L =[]
    L.append(data)
    return L

In [129]:
print(func4(10))
print(func4(10, ))

[10]
[10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정
- *인수 로 작성하면 함수에 1개부터 n개의 인수를 입력할 수 있게 되는데 이를 튜플 매개변수라고 함

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a,b):
    return a+b
def add(a,b,c,d):
    return a+b+c+d

In [135]:
# args : 매개변수들을 하나의 튜플 변수 args로 전달받음 <- 튜플 매개변수
def add(*args):
    '전달 받은 매개변수 들의 합을 return'
    #print('args:', args)
    result_tot = 0     #누적변수
    for num in args:
        result_tot += num 
    return result_tot

In [136]:
add(10,20,30)

60

In [19]:
subject = 'Python', 'Oracle', 'DL', 'ML'

In [23]:
def concat(*subject, sep):
    return sep.join(subject)
concat(*subject, sep='/')
#       => python/Oracle/webStandard/javaScript

'Python/Oracle/DL/ML'

In [141]:
# 에러 해결책 1 : 매개변수 이름을 지정해서 호출
concat("Python", "Oracle", "webStandard," 'DL', 'ML', sep='/')

'Python/Oracle/webStandard,DL/ML'

In [144]:
# 해결책 2 : 함수 만들때부터 기본값을 갖는 키워드 인수로 사용

def concat(*subject, sep=' ~ '):    # 키워드 인수 sep=
    return sep.join(subject)
concat("Python", "Oracle", "webStandard," 'DL', 'ML')

'Python ~ Oracle ~ webStandard,DL ~ ML'

In [146]:
concat("Python", "Oracle", "webStandard," 'DL', 'ML', sep=" / ")

'Python / Oracle / webStandard,DL / ML'

In [150]:
# 해결책 3 sep을 순서인수로 앞에 선언. 단, 기본값을 선언해봐야 무의미함
def concat(sep=' ~ ', *subject):
    return sep.join(subject)

In [155]:
print(concat(' / ', "Python", "Oracle", "webStandard", 'DL', 'ML'))
print(concat("Python", "Oracle", "webStandard", 'DL', 'ML'))  
# ' / ' 생략하면 맨 앞 인자가 sep이 됨. 즉, 기본값을 선언해봐야 무의미함

Python / Oracle / webStandard / DL / ML
OraclePythonwebStandardPythonDLPythonML

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변 키워드 인수 처리

In [24]:
def func5(**kwargs):
#    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [25]:
func5(name='홍길동', age=30, address='신림동')

<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [165]:
func5(age=18888)

<class 'dict'>
이름 :  대마왕
나이 :  18888
주소 :  서울

## 3.5 함수 정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름 명시) > 딕셔너리매개변수(**)

In [27]:
def func6(a, b, *c, **d):
    print('순서인수 a:', a)
    print('순서인수 b:', b)
    print('튜플인수 c:', c)
    print('딕셔너리인수 d:', d)

In [28]:
func6(10,20, 1,2,3,4,5, name='홍길동', age=30, address='서울')

순서인수 a: 10
순서인수 b: 20
튜플인수 c: (1, 2, 3, 4, 5)
딕셔너리인수 d: {'name': '홍길동', 'age': 30, 'address': '서울'}

In [30]:
def func7(a,b,*c, d='기본값', **e):
    print('순서인수 a:', a)
    print('순서인수 b:', b)
    print('튜플인수 c:', c)
    print('키워드인수 d:', d)    #(키워드 인수 : 기본값을 갖는 인수, 호출시 매개변수 이름을 반드시 명시)
    print('딕셔너리인수 e:', e)

In [32]:
func7(10,20, 1,2,3,4,5, d='카페', name='홍길동', age=30, address='서울')

순서인수 a: 10
순서인수 b: 20
튜플인수 c: (1, 2, 3, 4, 5)
키워드인수 d: 카페
딕셔너리인수 e: {'name': '홍길동', 'age': 30, 'address': '서울'}

In [171]:
func7(10,20, 1,2,3,4,5, '카페', name='홍길동', age=30, address='서울')

순서인수 a: 10
순서인수 b: 20
튜플인수 c: (1, 2, 3, 4, 5, '카페')
키워드인수 d: 기본값
딕셔너리인수 e: {'name': '홍길동', 'age': 30, 'address': '서울'}

## 3.6 인수의 언패킹
### 튜플 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 *붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임

In [179]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [180]:
add(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [182]:
numbers = [1,2,3,4,5]
add(*numbers)  # 언패킹  * 튜플과 리스트 둘다 언패킹 가능

(1, 2, 3, 4, 5)

15

In [183]:
numbers = (1,2,3,4,5)
add(*numbers)

(1, 2, 3, 4, 5)

15

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [190]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [191]:
func5(name='Killdong', age=30, address='Seoul')

<class 'dict'>
name:Killdong
age:30
address:Seoul

In [192]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식(lambda)
- return 한줄짜리 작은 익명 함수. 
- **lambda 매개변수 : 명령문**     # 리턴을 해야할때만 사용
- 이름이 없으므로 호출을 하려면 "람다식을 변수에 할당"하거나 "람다식(매개변수)" 방식으로 사용
## 4.1 람다식 연습

In [193]:
def add(a,b):
    return a+b
add(3,4)

7

In [196]:
add2= lambda a, b : a+b
add2(5,1)

6

In [198]:
print(type(add), type(add2))

<class 'function'> <class 'function'>

In [197]:
(lambda a, b : a+b)(3,4)

7

In [231]:
# ex1. 매개변수로 들어온 값이 '짝수'인지 '홀수'인지 리턴
# 일반 함수로 선언
def ex1(num):
    if num %2:
        result = '홀수'
    else:
        result = '짝수' 
    return result
ex1(6)

'짝수'

In [232]:
# 람다식으로 선언
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(3)

'홀수'

In [206]:
# ex2. 2개의 매개변수의 차이를 리턴 (큰수에서 작은수 빼기)

ex2 = lambda a,b : a-b if a>b else b-a
ex2(5,10)

5

In [233]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 리턴, 음수면 'negative' 리턴

ex3 = lambda money : money if money>=0 else 'negative' 
ex3(0)

0

In [236]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀' 60점 미만은 재시험, 그외는 유효하지 않음

ex4 = lambda score : 'A팀' if 100>= score >=80 else \
                    'B팀' if 80> score >=60 else \
                    '재시험' if 60> score >=0  else \
                    '유효하지 않음'
ex4(60)

'B팀'

In [225]:
# ex5. safe_index 를 람다식으로
def safe_index(lst, data):
     if data in lst: # lst 안에 data가 있는지 여부
        return lst.index(data)
     else:
        return -1  

ex5 = lambda lst, data : lst.index(data) if data in lst else -1
ex5([1,2,3,4,5],0)

-1

## 4.2 함수의 매개변수에 람다식 이용
```
def func(fun, data):
    명령어
```
### (1) map

In [2]:
def map_template(func, lst=[]):
    '''
    lst의 모든 요소를 func함수를 적용시켜 return
    [func(l) for l in lst]
    '''
#     result=[]    
#     for l in lst:
#         result.append(func(l))
#    return result

# 리스트 컴프리헨션

    return [func(l) for l in lst]
    
# def map_template_l(lambda x:x*2, lst)

In [3]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1,2,3,4,5,6,7,8,9,10]
map_template(lambda x : x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l**2 for l in list_data]

In [5]:
# 리스트 데이터를 가공 방법 3. map() : 파이썬 내장함수
list(map(lambda x: x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
for item in map(lambda x: x*2, list_data):
    print(item, end=' ')

2 4 6 8 10 12 14 16 18 20

In [12]:
p1 = '5,000'
p2 = p1.replace(',','')
p2

'5000'

In [13]:
# 예제 1. 아래 리스트를  price = ['5000', '800', '1000', '6000'] 로 바꾸시오
price = ['5,000', '800', '1000', '6,000']

list(map(lambda p : p.replace(',',''), price))

['5000', '800', '1000', '6000']

In [32]:
# 예제 2. member1을 member2로 바꿔라
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
          {'name':'신길동', 'birth':'1998-12-31'}]를
member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
          {'name':'신길동', 'year':1998, 'month':12, 'day':31}]
'''          
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
          {'name':'신길동', 'birth':'1998-12-31'}]


# year : int(member1[0]['birth'].split('-')[0])
# month : int(member1[0]['birth'].split('-')[1])
# day : int(member1[0]['birth'].split('-')[2])

In [29]:
# '2000-01-01' => {'year':2000, 'month':1, 'day':1}
def split_date(date):
    split_data = date.split('-')
    return {'year':int(split_data[0]),
            'month':int(split_data[1]),
            'day':int(split_data[2])}

split_date('2000-01-01')

{'year': 2000, 'month': 1, 'day': 1}

In [36]:
def member_func(member):
    "{'name':'홍길동', 'year':1998, 'month':12, 'day':31} 식으로 리턴"
    return {
       'name':member.get('name'),
        'year' : int(member['birth'].split('-')[0]),
        'month' : int(member['birth'].split('-')[1]),
        'day' : int(member['birth'].split('-')[2]),
        
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [37]:
member2 = list(map(lambda member : {
                       'name':member.get('name'),
                        'year' : int(member['birth'].split('-')[0]),
                        'month' : int(member['birth'].split('-')[1]),
                        'day' : int(member['birth'].split('-')[2]),
                        },
        member1
        )
    )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [ ]:
# 예제 3. member2을 member1로 바꿔라
# JOIN사용 번잡해서 사용성이나 가독성이 좋지 않다
def join_date(data):
    year = str(data.get('year'))
    month = data.get('month')
    if month<10:
        month = '0'+ str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day <10:
        day = '0'+ str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [ ]:
def join_date(data):
    print('{}-{:02}-{:02}'.format(data.get('year'),
                                  data.get('month'),
                                  data.get('day')))
#더 간단하게 해보자

In [62]:
def join_date(data):
    print('{year}-{day:02}-{day:02}'.format(
                                    year = data.get('year'),
                                    month = data.get('month'),
                                    day = data.get('day')))
#어려워보이지만 아래로 더 간단하게 해보자

In [64]:
def join_date(data):
    print('{year}-{month:02}-{day:02}'.format(**data))

In [65]:
join_date({'year': 1998, 'month': 12, 'day': 31})

1998-31-31

In [66]:
list(map(lambda member : {
                'name' : member.get('name'),
                'birth' : '{year}-{day:02}-{day:02}'.format(**member)
                        },
        member2)
    )

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-31-31'}]

In [58]:
# 예제 3. member2을 member1로 바꿔라

member_1 = list(map(lambda member : {
                                    'name':member.get('name'),
                                    'birth':'{}-{:02}-{:02}'.format(member['year'],
                                                                   member['month'],
                                                                   member['day'])
                                    },
                   member2)
               )
member_1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map처리 : 벡터의 모든 데이터를 가공. 
- filter : 조건에 부합하는 데이터를 추출.
- cf. 리스트 컴프리헨션

In [67]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
        
    return result

In [69]:
def even_check(value):
    return value%2==0
even_check(10), even_check(5)

(True, False)

In [71]:
lst = [1,2,3,4,5]
filter_template(lambda x : x%2==0, lst)

[2, 4]

In [72]:
[data for data in lst if data%2==0]

[2, 4]

### (3) sort

In [96]:
# sort()는 그냥 쓰면 0번째 item 기준으로 정렬하지만
# key=lambda 식을 사용하여 n번째 item 기준으로 정렬가능하다
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]

pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [97]:
number_2d = [[9,9,9,9,9,9,9,9],
            [1,111],
            [10,1]]

In [98]:
# 리스트 각 행의 합이 큰 순으로 정렬
number_2d.sort(key=lambda number : sum(number), reverse=True)
number_2d

[[1, 111], [9, 9, 9, 9, 9, 9, 9, 9], [10, 1]]

In [108]:
# 예제 1. 
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':80},
    {'name':'신길동', 'score':99},
    {'score':100}
    
]

In [113]:
# 이름순으로 정렬
students.sort(key = lambda x : x.get('name', '힣'))
print(students)
students.sort(key = lambda x : x.get('score'))
students

[{'name': '김길동', 'score': 80}, {'name': '신길동', 'score': 99}, {'name': '홍길동', 'score': 90}, {'score': 100}]

[{'name': '김길동', 'score': 80},
 {'name': '홍길동', 'score': 90},
 {'name': '신길동', 'score': 99},
 {'score': 100}]

In [115]:
# 예제 2. 책 제목순 정렬(ㄱㄴㄷ), 저자순 정렬(ㄱㄴㄷ), 가격순 오름차순 정렬
books = [
    {'no':1, 'title':'강남 아파트 인사이트', 'writer': '오스롤로이드', 'price':'25,200'},
    {'no':2, 'title':'결국 국민이 합니다', 'writer': '이재명', 'price':'19,800'},
    {'no':3, 'title':'단 한 번의 삶', 'writer': '김영하', 'price':'15,120'},
    {'no':4, 'title':'가격이 잘못', 'writer': '홍길동', 'price':'-'},
    {'no':5, 'title':'가격이 숫자', 'writer': '임꺽정', 'price':900},
    {'no':6, 'title':'가격이 없음', 'writer': '전우치'},
]

In [118]:
books.sort(key=lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이 숫자', 'writer': '임꺽정', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '전우치'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스롤로이드', 'price': '25,200'},
 {'no': 2, 'title': '결국 국민이 합니다', 'writer': '이재명', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'}]

In [156]:
books.sort(key=lambda book : book.get('writer'))
books

[{'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스롤로이드', 'price': '25,200'},
 {'no': 2, 'title': '결국 국민이 합니다', 'writer': '이재명', 'price': '19,800'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '임꺽정', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '전우치'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'}]

In [155]:
books.sort(key=lambda book : int(book.get('price', 0)))
books

ValueError: invalid literal for int() with base 10: '15,120'

In [147]:
# '1,400'-> 1400  / 800 ->800 / '-' ->0
def price_chk(p):
#    print(type(p))
    if isinstance(p, str) and p.replace(',','').isdigit():
        return int(p.replace(',',''))
    elif isinstance(p, int):
        return p
    else:
        return 0

In [164]:
# {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'}
def price_chk(book):
    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit():
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0    

price_chk(books[2]), price_chk(books[3]), price_chk(books[5])

(19800, 900, 0)

In [165]:
books.sort(key=lambda book : 
           int(book.get('price', 0).replace(',','')) \
           if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() else \
           book.get('price') if isinstance(book.get('price'), int) else 0
          )
books

[{'no': 6, 'title': '가격이 없음', 'writer': '전우치'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '임꺽정', 'price': 900},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '결국 국민이 합니다', 'writer': '이재명', 'price': '19,800'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스롤로이드', 'price': '25,200'}]

In [166]:
copy_books = books.copy()

In [168]:
copy_books.sort(key= lambda book : 
               int(book.get('price').replace(',',''))
               if isinstance(book.get('price'), str) and \
                book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0 
               )
copy_books

[{'no': 6, 'title': '가격이 없음', 'writer': '전우치'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '임꺽정', 'price': 900},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '결국 국민이 합니다', 'writer': '이재명', 'price': '19,800'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스롤로이드', 'price': '25,200'}]

In [169]:
# 람다식 오타 확인 () 괄호를 사용
(lambda book : 
               int(book.get('price').replace(',',''))
               if isinstance(book.get('price'), str) and \
                book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0)(books[0])

0

## 4.3 함수의 return값으로 람다식 이용

In [180]:
# 함수를 리턴
def make_box(shape):   
    # shape : [L] => len가 L인 list를 생성하는 함수 return, 
    #         [r, c] => r행 c열인 2차원 list를 생성하는 함수 return
    #         [d,r,c] => d면 r행 c열인 3차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1 :
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [172]:
line_func = make_box([2,3])

In [176]:
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [177]:
line_func_1 = make_box([10])

In [179]:
line_func_1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [183]:
def make_box_1(shape,init_value):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [[init_value]*shape[1]] * shape[0]

In [187]:
make_box_1([2,3],3)

TypeError: 'function' object is not iterable

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [190]:
all([True, True, True, False])  # 전부 True인지 여부

False

In [191]:
round(3.5) # 반올림

4

In [195]:
import numpy as np   # numpy 모듈(파일)을 로드하는데 기니까 np로 별명을 붙일거야
np.round(3.5), np.ceil(3.3), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 5절. 연습문제

## 실습형

In [196]:
# 1번. 함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요

def get_max_min(data_list):
    return [max(data_list), min(data_list)]

In [197]:
lst= [1,2,6,7,10]
get_max_min(lst)

[10, 1]

In [204]:
get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min(lst)

(10, 1)

In [210]:
#2번. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
#함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요

def getBMI(kg, m):
    BMI=kg/(m**2)
    if BMI<18.5:
        return '마른체형'
    elif 18.5<= BMI < 25:
        return '표준'
    elif 25<= BMI < 30:
        return '비만'
    else:
        return '고도비만'

In [211]:
getBMI(76, 1.74)

'비만'

In [219]:
# 3번. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성 
import math

def get_triangle(width, height):
    x = width*height/2
    y = width+height+math.sqrt(width**2 + height**2)
    print(f'삼각형의 면적은 {x:.2f}, 둘레는 {y:.2f}입니다.')

In [220]:
get_triangle(10,10)

삼각형의 면적은 50.00, 둘레는 34.14입니다.

In [221]:
# 4번. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함)
def mysum(start, end):
    tot = 0
    for i in range(start, end+1):
        tot += i
    return tot

In [222]:
mysum(1,10)

55

In [244]:
# 5번. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
def get_abbrs(lst):
    result = []
    for t in lst:
        result.append(t[:3])       
    return result

In [249]:
list(map(lambda t : t[:3], ['Seoul', 'Daegu', 'Kwangju', 'Jeju']))

['Seo', 'Dae', 'Kwa', 'Jej']

In [245]:
get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']

In [251]:
# 6번. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
lambda x, y : x**y

In [256]:
# 7번. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
# 람다식
ex = [1,2,3,4,5]
print('람다식 사용 :', list(map(lambda n : n**2,ex)))

print('리스트 컴프리헨션 사용 :', [n**2 for n in ex])

람다식 사용 : [1, 4, 9, 16, 25]
리스트 컴프리헨션 사용 : [1, 4, 9, 16, 25]

In [258]:
# 8번. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
# -> *를 a에 붙임으로써 언패킹 하기 때문
a = [1,2,3]
print(*a)
print(a)

1 2 3
[1, 2, 3]

In [ ]:
# 9번. 예제 코드 실행 결과는?
# --> '2024-9-6'

In [281]:
# 10번. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

def vector_size_check(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
#    print(result, min(result),max(result))
    if min(result)==max(result):
        return True
    else:
        return False

In [304]:
ex = [[1,2,3], {1,2,3}, (1,2,2), [5,6,7]]

In [305]:
# 리스트 컴프리헨션 중첩 사용
vector_size_check_2 = True if min([len(v) for v in ex])==max([len(v) for v in ex]) else False
vector_size_check_2

True

In [302]:
# 리스트컴프리헤션 중첩 + 셋 사용
vector_size_check_2 = True if len({len(v) for v in ex})==1 else False
vector_size_check_2

In [3]:
# all 함수 이용 : 
ex = [[1,2,3], {1,2,3}, (1,2,2), [5,6,7]]
def vector_size_check_3(*vector_var):
    return all(len(vector) for vector in vector_var)

vector_size_check_3(ex)

True

In [314]:
# 11번. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
def scalar_vector_product(n, vector):
    result=[]
    for i in vector:
        result.append(i*n)
    return result

In [315]:
scalar_vector_product(5, [1,2,3,4])

[5, 10, 15, 20]

In [321]:
n = 5
vector = [1,2,3,4]
[i*n for i in vector]
list(map(lambda v : n*v,vector))

[5, 10, 15, 20]

### 서술형

In [ ]:
# 문제1. 2번

In [ ]:
# 문제2.
'''
- 오류가 발생하는 라인: 3번
- 3줄에 global a 선언
- 실행결과 : 6 12 6 13
'''

In [4]:
# 문제2. 코드
a= 10
def sub():
    global a
    a +=1
    print(a, end=' ')

def func():
    for i in range(2):
        a=5
        a+=1
        print(a, end=' ')
        sub()

a+=1
func()

6 12 6 13

In [5]:
# 문제 3. 100
# 문제 4. 5
# 문제 5. 9
# 문제 6. 1번
# 문제 7. 4번
# 문제 8. lambda