In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="5" color="red">ch05. 함수 </font></b>
- 사용할 코드를 묶어놓고 그것에 이름을 붙인것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른함수를 허용하는 것) 불가
- 함수 정의(문자, 숫자, _로 이름 정의, 변수명 규칙과 동일)
```
def 함수명([매개변수1, 매개변수2, 매개변수n]):   # [매개변수] 생략 가능
    명령어1
    명령어2
    명령어n
```

# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
# 함수 정의
def my_msg(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [3]:
# 함수 사용 = 함수 호출
my_msg(3, '*')

*
*
*

In [4]:
my_message = my_msg 
type(my_msg), type(my_message)

(function, function)

In [4]:
print('my_msg')   # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5         # 기존에 있는 함수명과 동일한 이름에 변수 할당이 가능하지만
# print('my_msg') # 그 후엔 함수가 사용 불능 상태
del print         # del 명령어로 print 변수를 삭제했더니
print('my_msg')   # print 함수 사용 가능해짐, but 내장 함수니까 가능한거지 임의로 선언한 함수는 날아가서 사용 불가

my_msg
my_msg

In [13]:
my_message(2, 'Hello')

Hello
Hello

In [6]:
my_message = 5

In [8]:
del my_message    # 임의로 선언한 함수는 날아가서 사용 불가

In [10]:
my_message(2, 'Hello') # 임의로 선언한 함수는 날아가서 사용 불가

NameError: name 'my_message' is not defined

In [8]:
# 함수 정의 : 4월 16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [10]:
# 함수사용 = 함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [11]:
my_hello

In [12]:
__name__ = '__main__'

'__main__'

In [13]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [2]:
import ch05      # ch05 모듈을 load

In [3]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [5]:
from ch05 import my_hello   # ch05 모듈 안의 my_hello load

In [6]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring
- 함수의 설명서
- 함수 맨 첫라인에 작성 
- 한줄 작성시 ' 혹은 "로 시작. 여러줄 작성시 ''' 혹은 """ 로 시작

In [8]:
def my_fuction():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [ ]:
my_fuction()

In [11]:
print(my_fuction, "\n", my_fuction.__doc__)

<function my_fuction at 0x000002848B7AB9A0>

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [12]:
def finonacci(n):
    f1, f2=0,1
    
    while f1 < n:
        print(f1, end=" ")
        f1, f2 = f2, f1+f2
    print() # 개행

In [13]:
finonacci(10)

0 1 1 2 3 5 8

In [14]:
if True:
    x = 10

In [17]:
f1, f2     # 함수에서 사용한 변수는 다른 블록에선 사용이 불가하다.

NameError: name 'f1' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)
-

In [22]:
global_var = 100  # 전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [25]:
def func2():
    local_var = 200   #지역변수
    print('함수안 :', local_var)
func2()
print('함수밖 :', local_var)  # 에러발생. 지역변수는 함수 밖에서는 사용안됨

함수안 : 200

NameError: name 'local_var' is not defined

In [28]:
g_var = 100 # 전역변수
def func3():          # 로컬 심볼 테이블을 열고
    g_var = 200       # 로컬 심볼 테이블에서 g_var의 변수에 200을 새로 할당(선언)
    print('함수 안(지역변수 g_var) :', g_var)
func3()               # 다 실행하고 나면 로컬 심볼 테이블은 없어진다
print('함수 밖(전역변수 g_var) :', g_var)   #따라서 이전에 할당(선언)한 g_var = 100이 유지가 되는 것

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [31]:
# 렉시컬 특성 
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200  #지역변수        
# 작성 순서 관계없이 변수 선언부터 컴파일을 하고 그 다음 위에서 부터 해석이 됨
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [34]:
# 렉시컬 특성 
g_var = 100 # 전역변수
def func4():
    global g_var  # func4 함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200  #전역변수        
func4()

print('함수 밖 g_var :', g_var)
# 변수 조회 우선순위 : 로컬 심볼 테이블 > 전역 심볼 테이블> 내장 된 이름 테이블

함수 안 g_var : 100
함수 밖 g_var : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [35]:
foo = 'a'   # 전역변수
id(foo)

2768221005616

In [54]:
def func1(f):   # 매개변수f는 지역변수
    print('Before :', f, 'id(f):', id(f))
    f = f*3
    print('After :', f, 'id(f):', id(f))
func1(foo)

Before : a id(f): 2768221005616
After : aaa id(f): 2768332131312

In [38]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [55]:
soo = [1,2,3]
id(soo)

2768332529792

In [56]:
def func2(f):
    print('Before:', f, 'id(f):', id(f))
    f.append(4)            # 재할당을 한것이 아니라 append 한 것이므로 f의 주소는 동일하다
    print('After:', f, 'id(f):', id(f))
func2(soo)

Before: [1, 2, 3] id(f): 2768332529792
After: [1, 2, 3, 4] id(f): 2768332529792

In [57]:
id(soo)

2768332529792

# 2절. 함수의 실행결과를 반환하는 return

In [66]:
# return 뒤에 값을 가지고 호출한 함수로 간다
def add(a):
    pass

In [68]:
print(add(10))

None

In [92]:
# 피보나치 배열을 리턴하는 함수 만들기
def fibonaccii_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10 이면 0 1 1 2 3 4 8 을 출력
    '''
    f1, f2=0,1    
    while f1 < n:
        print(f1, end=" ")
        f1, f2 = f2, f1+f2
    print()
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10 이면 [0 1 1 2 3 4 8] 를 만들어서 return
    '''
    F = []
    f1, f2=0,1
    while f1 < n:
        F.append(f1)
        f1, f2 = f2, f1+f2
    return F             # return은 하나 값만 리턴할 수 있다.

In [90]:
x = fibonaccii_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [93]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러 개 값 return

In [95]:
def swap(a,b):
    '매개 변수의 순서를 바꿔서 리턴'
    return b, a       # 자동으로 튜플로 팩킹하여 전달

In [98]:
x, y= 10, 11  # => x, y = (10, 11)
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=10, y=11
함수 실행 후 x=11, y=10

# 3절. 함수 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [102]:
def make_url(ip,port=80):  # port의 기본값을 80으로 두겠다
    return "http://{}:{}".format(ip, port)
# 순서인수(기본값을 갖지 않는 매개변수) > 기본값을 갖는 매개변수

In [106]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port=8090, ip='localhost'))  # 함수를 호출할때 키워드 인수(인수에 매개변수 이름과 값을 넣으면) 순서 관계 없이 처리됨

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일 때
- 기본 변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [112]:
i = 5

# 기본 값을 갖는 변수가 스칼라 변수일때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg=', arg)

In [113]:
i = 50    # 이미 함수가 정의된 이후이므로, 함수 내 i의 값이 변하지 않는 것
func2()

arg= 5

In [114]:
list_ = []
# 기본 값을 갖는 변수가 객체(데이터구조) 일 때 : 참조된 객체를 호출하는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [121]:
func3(10)   # list_가 수정

[10, 9, 3, 8, 10]

In [127]:
def func4(data, L=None):
    if L==None:
        L =[]
    L.append(data)
    return L

In [129]:
print(func4(10))
print(func4(10, ))

[10]
[10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정
- *인수 로 작성하면 함수에 1개부터 n개의 인수를 입력할 수 있게 되는데 이를 튜플 매개변수라고 함

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a,b):
    return a+b
def add(a,b,c,d):
    return a+b+c+d

In [135]:
# args : 매개변수들을 하나의 튜플 변수 args로 전달받음 <- 튜플 매개변수
def add(*args):
    '전달 받은 매개변수 들의 합을 return'
    #print('args:', args)
    result_tot = 0     #누적변수
    for num in args:
        result_tot += num 
    return result_tot

In [136]:
add(10,20,30)

60

In [ ]:
subject = ('Python', 'Oracle', 'DL', 'ML')

In [145]:
def concat(*subject, sep):
    return sep.join(subject)
concat("Python", "Oracle", "webStandard", 'DL', 'ML', '/')
#       => python/Oracle/webStandard/javaScript

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [141]:
# 에러 해결책 1 : 매개변수 이름을 지정해서 호출
concat("Python", "Oracle", "webStandard," 'DL', 'ML', sep='/')

'Python/Oracle/webStandard,DL/ML'

In [144]:
# 해결책 2 : 함수 만들때부터 기본값을 갖는 키워드 인수로 사용

def concat(*subject, sep=' ~ '):    # 키워드 인수 sep=
    return sep.join(subject)
concat("Python", "Oracle", "webStandard," 'DL', 'ML')

'Python ~ Oracle ~ webStandard,DL ~ ML'

In [146]:
concat("Python", "Oracle", "webStandard," 'DL', 'ML', sep=" / ")

'Python / Oracle / webStandard,DL / ML'

In [150]:
# 해결책 3 sep을 순서인수로 앞에 선언. 단, 기본값을 선언해봐야 무의미함
def concat(sep=' ~ ', *subject):
    return sep.join(subject)

In [155]:
print(concat(' / ', "Python", "Oracle", "webStandard", 'DL', 'ML'))
print(concat("Python", "Oracle", "webStandard", 'DL', 'ML'))  
# ' / ' 생략하면 맨 앞 인자가 sep이 됨. 즉, 기본값을 선언해봐야 무의미함

Python / Oracle / webStandard / DL / ML
OraclePythonwebStandardPythonDLPythonML

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변 키워드 인수 처리

In [161]:
def func5(**kwargs):
#    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [162]:
func5(name='홍길동', age=30, address='신림동')

<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [165]:
func5(age=18888)

<class 'dict'>
이름 :  대마왕
나이 :  18888
주소 :  서울

## 3.5 함수 정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름 명시) > 딕셔너리매개변수(**)

In [166]:
def func6(a, b, *c, **d):
    print('순서인수 a:', a)
    print('순서인수 b:', b)
    print('튜플인수 c:', c)
    print('딕셔너리인수 d:', d)

In [167]:
func6(10,20, 1,2,3,4,5, name='홍길동', age=30, address='서울')

순서인수 a: 10
순서인수 b: 20
튜플인수 c: (1, 2, 3, 4, 5)
딕셔너리인수 d: {'name': '홍길동', 'age': 30, 'address': '서울'}

In [168]:
def func7(a,b,*c, d='기본값', **e):
    print('순서인수 a:', a)
    print('순서인수 b:', b)
    print('튜플인수 c:', c)
    print('키워드인수 d:', d)    #(키워드 인수 : 기본값을 갖는 인수, 호출시 매개변수 이름을 반드시 명시)
    print('딕셔너리인수 e:', e)

In [170]:
func7(10,20, 1,2,3,4,5, d='카페', name='홍길동', age=30, address='서울')

순서인수 a: 10
순서인수 b: 20
튜플인수 c: (1, 2, 3, 4, 5)
키워드인수 d: 카페
딕셔너리인수 e: {'name': '홍길동', 'age': 30, 'address': '서울'}

In [171]:
func7(10,20, 1,2,3,4,5, '카페', name='홍길동', age=30, address='서울')

순서인수 a: 10
순서인수 b: 20
튜플인수 c: (1, 2, 3, 4, 5, '카페')
키워드인수 d: 기본값
딕셔너리인수 e: {'name': '홍길동', 'age': 30, 'address': '서울'}

## 3.6 인수의 언패킹
### 튜플 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 *붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임

In [179]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [180]:
add(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [182]:
numbers = [1,2,3,4,5]
add(*numbers)  # 언패킹  * 튜플과 리스트 둘다 언패킹 가능

(1, 2, 3, 4, 5)

15

In [183]:
numbers = (1,2,3,4,5)
add(*numbers)

(1, 2, 3, 4, 5)

15

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [190]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [191]:
func5(name='Killdong', age=30, address='Seoul')

<class 'dict'>
name:Killdong
age:30
address:Seoul

In [192]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식(lambda)
- return 한줄짜리 작은 익명 함수. 
- **lambda 매개변수 : 명령문**     # 리턴을 해야할때만 사용
- 이름이 없으므로 호출을 하려면 "람다식을 변수에 할당"하거나 "람다식(매개변수)" 방식으로 사용
## 4.1 람다식 연습

In [193]:
def add(a,b):
    return a+b
add(3,4)

7

In [196]:
add2= lambda a, b : a+b
add2(5,1)

6

In [198]:
print(type(add), type(add2))

<class 'function'> <class 'function'>

In [197]:
(lambda a, b : a+b)(3,4)

7

In [231]:
# ex1. 매개변수로 들어온 값이 '짝수'인지 '홀수'인지 리턴
# 일반 함수로 선언
def ex1(num):
    if num %2:
        result = '홀수'
    else:
        result = '짝수' 
    return result
ex1(6)

'짝수'

In [232]:
# 람다식으로 선언
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(3)

'홀수'

In [206]:
# ex2. 2개의 매개변수의 차이를 리턴 (큰수에서 작은수 빼기)

ex2 = lambda a,b : a-b if a>b else b-a
ex2(5,10)

5

In [233]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 리턴, 음수면 'negative' 리턴

ex3 = lambda money : money if money>=0 else 'negative' 
ex3(0)

0

In [236]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀' 60점 미만은 재시험, 그외는 유효하지 않음

ex4 = lambda score : 'A팀' if 100>= score >=80 else \
                    'B팀' if 80> score >=60 else \
                    '재시험' if 60> score >=0  else \
                    '유효하지 않음'
ex4(60)

'B팀'

In [225]:
# ex5. safe_index 를 람다식으로
def safe_index(lst, data):
     if data in lst: # lst 안에 data가 있는지 여부
        return lst.index(data)
     else:
        return -1  

ex5 = lambda lst, data : lst.index(data) if data in lst else -1
ex5([1,2,3,4,5],0)

-1