In [10]:
# 난이도 하 : 문제: 주어진 정수 리스트에서 모든 수를 제곱한 결과를 구하세요. 람다식을 사용해서 map을 활용하세요.
numbers = [1, 2, 3, 4, 5]

list(map(lambda n : n**2, numbers))

[1, 4, 9, 16, 25]

In [11]:
# 난이도 중 (조건 필터링)
#문제: 주어진 문자열 리스트에서 길이가 5 이하인 문자열만 골라내세요. filter와 람다식을 활용하세요
words = ["apple", "banana", "pear", "kiwi", "plum", "grape"]

In [13]:
result = list(filter(lambda text : len(text)<=5, words))
result

['apple', 'pear', 'kiwi', 'plum', 'grape']

In [14]:
# 난이도 상 (정렬 기준 정의)
# 문제: (이름, 점수) 형태의 튜플 리스트가 있습니다. 점수를 기준으로 내림차순 정렬하세요. sorted 함수에서 key로 람다식을 사용하세요
students = [("Alice", 82), ("Bob", 91), ("Charlie", 78), ("David", 88)]

In [18]:
sorted(students, key= , reversed=True)

TypeError: sorted expected 1 argument, got 4

In [21]:
# 문제 1 – 딕셔너리 리스트 정렬 (람다 + sorted)
# 점수가 높은 순으로 정렬해서 이름만 뽑은 리스트를 만들어봐.
students = [
    {'name': '영희', 'score': 85},
    {'name': '철수', 'score': 92},
    {'name': '민수', 'score': 78},
    {'name': '지수', 'score': 90}
]

In [26]:
sorted(students, key= lambda x : x['score'], reverse=True)

[{'name': '철수', 'score': 92},
 {'name': '지수', 'score': 90},
 {'name': '영희', 'score': 85},
 {'name': '민수', 'score': 78}]

In [28]:
list(map(lambda name : name['name'],  sorted(students, key= lambda x : x['score'], reverse=True) ))

['철수', '지수', '영희', '민수']

In [32]:
# 문제 2 – 람다식으로 조건 걸어서 숫자 변환하기
# 주어진 정수 리스트에서 짝수면 문자열 'even', 홀수면 'odd'로 바꾸는 리스트를 만들어봐.
numbers = [1, 2, 3, 4, 5, 6]

In [34]:
result = list(map(lambda n : 'odd' if n%2==1 else 'even', numbers))

In [35]:
result

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [38]:
words = ["dog", "lion", "cat", "tiger", "bear"]
list(filter(lambda t : len(t)>=4, words))

['lion', 'tiger', 'bear']

In [41]:
numbers = [3, 12, 7, 15, 2]
list(map(lambda n : 'small' if n<10 else 'big', numbers))

['small', 'big', 'small', 'big', 'small']

In [42]:
items = [("apple", 3), ("banana", 2), ("kiwi", 5)]
items.sort(key=lambda item : len(item[0]))
items

[('kiwi', 5), ('apple', 3), ('banana', 2)]